// Border Radius
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

// Transition
@mixin transition($attribute, $delay, $ease){
	-webkit-transition	: $attribute $delay $ease;
	-moz-transition		: $attribute $delay $ease;
	-o-transition		: $attribute $delay $ease;
	-ms-transition		: $attribute $delay $ease;
	transition			: $attribute $delay $ease;
}

// Placeholder
@mixin placeholder($color){
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $color;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $color;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $color;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $color;
	}
}

// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
 
// scale
@mixin scale($scale) {
	 @include transform(scale($scale));
} 
// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}
// skew
@mixin skew ($x, $y) {
   @include transform(skew(#{$x}deg, #{$y}deg));
}
//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	     -o-transform-origin: $origin;
	    -ms-transform-origin: $origin;
	-webkit-transform-origin: $origin;
          transform-origin: $origin;
}


.test {
  @include skew(25,10);
  @include transform-origin(top left);
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  background-color: rgba(20,20,20,.5);
}

// Breakpoints
$desktop-sm: 1199px;
$tablet-lg: 991px;
$tablet-sm: 767px;
$mobile-lg: 560px;
$mobile-sm: 480px;
// Responsive mixins
@mixin desktop-sm() {
  @media (max-width: $desktop-sm) {
    @content;
  }
}
@mixin tablet-lg() {
  @media (max-width: $tablet-lg) {
    @content;
  }
}
@mixin tablet-sm() {
  @media (max-width: $tablet-sm) {
    @content;
  }
}
@mixin mobile-lg() {
  @media (max-width: $mobile-lg) {
    @content;
  }
}
@mixin mobile-sm() {
  @media (max-width: $mobile-sm) {
    @content;
  }
}
@mixin below($value) {
  @media (max-width: $value) {
    @content;
  }
}
@mixin above($value) {
  @media (min-width: $value) {
    @content;
  }
}
// @mixin container {
//   display: block;
//   width: 1200px;
//   max-width: 100%;
//   padding-left: 10px;
//   padding-right: 10px;
//   margin: 0 auto;
//   box-sizing: border-box;
//   @include desktop-sm {
//     width: 960px;
//   }
//   @include tablet-sm {
//     width: 750px;
//     max-width: calc(100vw - 30px) !important;
//   }
//   @include below($tablet-sm) {
//     width: 100%;
//     max-width: 100%;
//   }
// }
@mixin mobile-only() {
  display: none;
  @include tablet-sm {
    display: block;
  }
}
@mixin desktop-only {
  display: block;
  @include tablet-sm {
    display: none;
  }
}
