.no-margin{margin: 0;}

.top-margin-xmd{
  margin-top: 50px;
  @media(max-width: 1200px){
    margin-top: 40px;
  }
  @media(max-width: 736px){
    margin-top: 30px;
  }
}
.top-margin-md{
  margin-top: 30px;
  @media(max-width: 1200px){
    margin-top: 40px;
  }
  @media(max-width: 736px){
    margin-top: 30px;
  }
}

.top-margin-lg{
  margin-top: 60px;
  @media(max-width: 1200px){
    margin-top: 40px;
  }
  @media(max-width: 736px){
    margin-top: 30px;
  }
}

.bottom-margin-xmd{
  margin-bottom: 50px;
  @media(max-width: 1200px){
    margin-bottom: 40px;
  }
  @media(max-width: 736px){
    margin-bottom: 30px;
  }
}

.bottom-margin-md{
  margin-bottom: 30px;
  @media(max-width: 1200px){
    margin-bottom: 40px;
  }
  @media(max-width: 736px){
    margin-bottom: 30px;
  }
}

.bottom-margin-lg{
  margin-bottom: 60px;
  @media(max-width: 1200px){
    margin-bottom: 40px;
  }
  @media(max-width: 736px){
    margin-bottom: 30px;
  }
}

.top-padding-sm{
    padding-top: 40px;
    @media(max-width: 991px){
        padding-top: 30px;
    }
    @media(max-width: 736px){
        padding-top: 20px;
    }
}

.top-padding-md{
    padding-top: 30px;
    @media(max-height: 768px){
      padding-top: 20px;
    }
    @media(max-width: 1200px){
        padding-top: 30px;
    }
    @media(max-width: 736px){
        padding-top: 30px;
    }
}
.top-padding-xmd{
  padding-top: 50px;
  @media(max-width: 1200px){
      padding-top: 40px;
  }
  @media(max-width: 736px){
      padding-top: 30px;
  }
}

.top-padding-xlg{
  padding-top: 60px;
  @media(max-width: 1200px){
    padding-top: 40px;
  }
  @media(max-width: 736px){
    padding-top: 30px;
  }
}

.top-padding-lg{
  padding-top: 60px;
  @media(max-width: 1200px){
    padding-top: 40px;
  }
  @media(max-width: 736px){
    padding-top: 30px;
  }
}

.bottom-padding-sm{
  padding-bottom: 40px;
  @media(max-width: 991px){
      padding-bottom: 30px;
  }
  @media(max-width: 736px){
      padding-bottom: 20px;
  }
}

.bottom-padding-md{
  padding-bottom: 30px;
  @media(max-height: 768px){
    padding-bottom: 20px;
  }
  @media(max-width: 1200px){
      padding-bottom: 30px;
  }
  @media(max-width: 736px){
      padding-bottom: 30px;
  }
}
.bottom-padding-xmd{
  padding-bottom: 50px;
  @media(max-width: 1200px){
      padding-bottom: 40px;
  }
  @media(max-width: 736px){
      padding-bottom: 30px;
  }
}

.bottom-padding-xlg{
  padding-bottom: 60px;
  @media(max-width: 1200px){
    padding-bottom: 40px;
  }
  @media(max-width: 736px){
    padding-bottom: 30px;
  }
}

.bottom-padding-lg{
  padding-bottom: 60px;
  @media(max-width: 1200px){
    padding-bottom: 60px;
  }
  @media(max-width: 736px){
    padding-bottom: 30px;
  }
}

