// Common Styles
a,
.btn,
a:focus,
.btn:focus {
    outline: 0;
}

html,
body {
    font-size: 100%;
    font-family: $PTSans;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $white;
}

a,
button {
    @include transition(all, .2s, ease-in-out);
    font-family: $Lato;
}

a,
a:hover,
a:focus {
    color: $primary;
}

b,
label {
    font-weight: normal
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

textarea {
    resize: vertical
}


@media (min-width: 1200px) {
    .container {
        max-width: calc(1240px + 30px);
    }
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  &:last-child{
    margin-bottom: 0px;
  }
}

.row{
  margin-left: -18px;
  margin-right: -18px;
  .col-md-4{
    padding-left: 18px;
    padding-right: 18px;
  }
}