@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?m50omi');
  src:  url('../fonts/icomoon.eot?m50omi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.woff2?m50omi') format('woff2'),
    url('../fonts/icomoon.ttf?m50omi') format('truetype'),
    url('../fonts/icomoon.woff?m50omi') format('woff'),
    url('../fonts/icomoon.svg?m50omi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-more:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-mail:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}
.icon-pin:before {
  content: "\e904";
}
.icon-play:before {
  content: "\e905";
}
.icon-quote-end:before {
  content: "\e906";
}
.icon-quote-start:before {
  content: "\e907";
}
.icon-search:before {
  content: "\e908";
}
.icon-twitter:before {
  content: "\e909";
}
.icon-youtube:before {
  content: "\e90a";
}
