//Typography Rules Go Here
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

//Fonts-Families
$alternate-font: Helvetica, Arial, sans-serif;
$Lato: 'Lato', $alternate-font;
$PTSans: 'PT Sans', $alternate-font;

//Font-Weight
$thin: 100;
$extraLight : 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold : 800;
$black: 900;
