// // Footer styles go here
.ft-title{
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  color: $danger;
  margin-bottom: 30px;
  @include tablet-sm{
    margin-bottom: 20px;
  }
  a{
    color: $danger;
  }
  &.muted{
    color: $dune;
    margin-top: 60px;
    margin-bottom: 20px;
    @include tablet-sm{
      margin-top: 40px;
    }
  }
  & + .ft-menu{
    margin-top: -4px;
  }
}
.ft-menu{
  font-weight: normal;
  font-size: 16px;
  text-align: left;
  li{
    margin-bottom: 8px;
  }
  h6.ft-title{
    a{
      color: $danger;
    }
  }
  a{
    color: $dune;
    &:hover{
      color: $danger;
      text-decoration: none;
    }
  }
}
.ft-ex-link{
  display: flex;
  font-weight: normal;
  font-size: 14px;
  text-align: left;
  opacity: 0.5;
  flex-wrap: wrap;
  padding-top: 30px;
  li{
    color: $dune;
    font-family: $avenirbook;
    &:hover{
      text-decoration: none;
    }
    &:first-child{
      @include tablet-sm{
        display: none;
      }
    }
    &:last-child{
      display: none;
      @include tablet-sm{
       display: block;
       padding-top: 12px;
       padding-left: 0 !important;
       width: 100%;
      }
    }
    & + li{
      padding-left: 35px;
      @include tablet-sm{
        padding-left: 0;
        // padding-top: 20px;
      }
    }
    &:nth-child(1n + 3){
      padding-left: 15px;
    }
  }
  a{
    color: $dune;
    &:hover{
      color: $danger;
      opacity: 1;
      text-decoration: none;
    }
  }
  &.top-padding-xmd{
    @include tablet-sm{
      padding-top: 17px;
    }
  }
  &:hover{

  }
}
.nh-info{
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    border-top: 1px solid $abbey_1;
    width: 188px;
    @include tablet-sm{
      margin: auto;
    }
    @media(max-width: 320px){
      font-size: 14px;
    }
    li{
      & + li{
        border-top: 1px solid $abbey_1;
        border-bottom: 1px solid $abbey_1;
      }
    }
    a{
      display: flex;
      padding: 13px 0;
      color: $dune;
      align-items: flex-end;
      width: 100%;
      &:hover{
        text-decoration: none;
      }
      i{
        margin-right: 15px;
        @include tablet-sm{
          margin-right: 10px;
        }
        @media(max-width: 320px){
          margin-right: 5px;
        }
      }
    }
}
.ft-brand{
  display: block;
    width: 50%;
  
  img{
    @include tablet-lg{
      width: 120px;
    }
    // width: 188px;
  }
  // @include tablet-sm{
  //   text-align: center;
  // }
  & + .nh-info{
    margin-top: 40px;
    @include tablet-sm{
      margin-top: 30px;
    }
  }
}
.social-icons{
  display: flex;
  width: 150px;
  justify-content: space-between;
  @include tablet-lg{
    width: 128px;
  }
  @include tablet-sm{
    width: 150px;
  }
  a{
    font-size: 25px;
    line-height: 25px;
    opacity: 0.3;
    &:hover{
      text-decoration: none;
      opacity: 1;
    }
  }
}
.ft-ex-link-wrap{
  margin-left: auto;
  @include desktop-sm{
    margin-left: 0;
  }
  &.col-md-8{
    @include desktop-sm{
      flex: 0 0 100%;
      max-width: 100%;
    }
    @include tablet-sm{
      margin-top: 0 !important;
    }
  }
}
.ft-nav{
  .col-md-8{
    @include tablet-sm{
      margin-top: 30px;
    }
    .col-md-4{
      @include tablet-sm{
        width: 50%;
      }
      @include tablet-sm{
        &:nth-child(1n + 3){
          margin-top: 20px;
        }
      }
    }
  }
}
.ft-nav .col-md-8 .col-md-4.mobile-only{
  display: flex;
  .ft-menu{
    @include tablet-sm{
      width: 50%;
      padding-right: 15px;
    }
  }
  @include tablet-sm{
    width: 100%;
  }
  .nh-info{
    display: none;
    @include tablet-sm{
      display: block;
      margin: 0;
      height: fit-content;
      margin-left: 15px;
    }
  }
}
.desktop-only{
  .nh-info{
    @include tablet-sm{
      display: none;
    }
  }
}
footer{
  border-top: 1px solid $white;
}