//Form styles go here
.form-control{
	-webkit-appearance: none;
}
.form-control:focus{
    box-shadow: none;
    border-color: #e9ecef;
}

.wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
    color: #D8000C;
    background-color: #FFBABA;
    border: 0;
    padding: 10px;
}
.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
    color: #4F8A10;
    background-color: #DFF2BF;
    border: 0;
    padding: 10px;
}
div.wpcf7-mail-sent-ok:before,div.wpcf7-validation-errors:before {
    font: 26px/30px FontAwesome;
    margin-right: 16px;
    vertical-align: middle;
}
div.wpcf7-mail-sent-ok:before {
    content:'\f00c';
}
div.wpcf7-validation-errors:before {
    content:'\f057';
}



.select2-container{
  width: 100%;
}




/*checkbox & radio - cf7*/

.wpcf7 {
  
}

.wpcf7-form {
  
}

.wpcf7 .wpcf7-list-item {
  display: block;
  margin-bottom: 0px;
  cursor: pointer;
}

.wpcf7-form .wpcf7-radio {
  
}

.wpcf7-form .wpcf7-radio label {
  margin: 0px;
  position: relative;
  cursor: pointer;
}

.wpcf7-form .wpcf7-radio input[type=radio] {
	position: relative;
  visibility: hidden;
}

.wpcf7-form .wpcf7-radio input[type=radio] + span {
/*   border: 3px solid red;  */
}

.wpcf7-form .wpcf7-radio input[type=radio] + span:before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 18px;
  width: 18px;
  top: 0px;
  border: 2px solid #222;
}

.wpcf7-form .wpcf7-radio input[type=radio] + span:after {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 6px;
    left: 6px;
    visibility: hidden;
}

.wpcf7-form .wpcf7-radio input[type=radio]:checked + span:before {
    background: transparent;
/*     border-color: red; */
}

.wpcf7-form .wpcf7-radio input[type=radio]:checked + span:after {
   background: #222;
   visibility: visible;
}





.wpcf7-form .wpcf7-checkbox label {
  position: relative;
  cursor: pointer;
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox] {
	position: relative;
  visibility: hidden;
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox] + span {
/*   border: 3px solid red;  */
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox] + span:before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 5px;
  height: 18px;
  width: 18px;
  top: 0px;
  border: 2px solid #222;
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox] + span:after {
    display: block;
    position: absolute;
    content: '\2713';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 2px;
    left: 5px;
    visibility: hidden;
    font-size: 16px;
    @media(max-width: 320px){
      font-size: 14px;
    }
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox]:checked + span:before {
    background: transparent;
/*     border-color: red; */
}

.wpcf7-form .wpcf7-checkbox input[type=checkbox]:checked + span:after {
/*    background: #222; */
   visibility: visible;
}


.radio-button-wrap{
  align-items: center;
  .radio-button {
    width: auto;
    margin-left: 20px;
    @include tablet-lg{
      margin-left: 0px;
      min-width: 80px;
    }
    @media(max-width: 320px){
      min-width: 70px;
    }
    & + .radio-button{
      width: auto;
      margin-left: 60px;
      @include tablet-lg{
        margin-left: 15px;
      }
      @include mobile-sm{
        margin-left: 0px;
      }
    }
  }
  .wpcf7-list-item{
    position: relative;
    margin-left: 30px;
    @include tablet-lg{
      margin-left: 15px;
    }
    @media(max-width: 320px){
      margin-left: 5px;
    }
    & + .wpcf7-list-item{
      @include tablet-lg{
        margin-left: 15px;
      }
      
    }
    &:before{
      content: '';
      position: absolute;
      left: 0px;
      top: 0px;
      width: 32px;
      height: 32px;
      border: 1px solid #ddd;
      border-radius: 100%;
      background: #fff;
    }
    &.checked{
      &:after{
        content: '';
        width: 18px;
        height: 18px;
        background: rgba(45,42,38,.5);
        position: absolute;
        top: 7px;
        left: 7px;
        border-radius: 100%;
        -webkit-transition: all .2s ease;
        transition: all .2s ease;
      }
    }
  }
}