header{
  position: relative;
  padding-bottom: 100px;
  .navbar-brand img{
    transition: 0.2s all;
  } 
  .navbar{
    transition: 0.2s all;
  }
  .navbar {
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: #FFFFFF;
    border-bottom: 2px solid rgba($grey, 0.3);
    .navbar-nav{
      li{
        position: relative;
        a{
          padding: 14px 20px;
          font-weight: 500;
          color: #2d2a26;
          @include tablet-lg{
            color: white;
          }
        }
        ul.sub-menu{
          background: $red;
          min-width: 393px;
          position: absolute;
          margin-top: 1px;
          opacity: 0;
          visibility: hidden;
          transition: 0.2s all;
          transform: scaleY(0.7);
          transform-origin: top left;
          padding: 22px 40px;
          @include tablet-lg{
            position: relative;
            padding: 0px 20px;
            height: 0px;
          }
          li{
            & + li{
              border-top: 1px solid rgba(#fff, 0.2);
            }
            a{
              position: relative;
              padding: 14px 0px;
              font-weight: 500;
              height: 48px;
              font-size: 15px;
              line-height: 20px;
              &:before{
                content: "";
                display: inline-block;
                vertical-align: 0;
                margin-right: 30px;
                margin-top: auto;
                margin-bottom: auto;
                margin-left: -3px;
                border-width: 0 1px 1px 0;
                border-color: #fff;
                height: 10px;
                width: 10px;
                border-style: solid;
                -ms-transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
              }
              &:hover{
                font-weight: 600;
              }
            }
          }
        }
        &:hover{
          & > ul.sub-menu{
            @media(min-width: 992px){
              opacity: 1;
              visibility: visible;
              transform: scaleY(1);
              @include tablet-lg{
                height: auto;
                padding: 20px 20px;
              }
            }
          }
          & > a{
            @media(min-width: 992px){
              background: $red;
              color: $white;
            }
            &:before{
              
            }
          }
          ul.sub-menu{
            
          }
        }
        &.active{
          ul.sub-menu{
            @include tablet-lg{
              opacity: 1;
              visibility: visible;
              transform: scaleY(1);
              @include tablet-lg{
                height: auto;
                padding: 20px 20px;
              }
            }
          }
        }
      }
    }
  }
  &.sticky-header{
    padding-bottom: 100px;
    .navbar-brand{
      img{
        width: 130px;
      }
    }
    .navbar{
      padding: 15px 0px;
      height: 100px;
    }
  }
  @include tablet-lg{
    padding-bottom: 90px;
    .navbar{
      height: 90px;
    }
    .navbar-brand img{
      width: 100px;
    }
    &.sticky-header{
      padding-bottom: 75px;
      .navbar-brand img{
        width: 100px;
      }
      .navbar{
        height: 75px;
        padding: 8px 0px;
      }
    }
  }
}

#menu-primery-menu.navbar-nav>li:hover.current-menu-item>a, #menu-primery-menu.navbar-nav>li:hover.current_page_parent>a{
  color: $white !important;
}

@media(max-width: 991px){
  .menu-item-has-children{
    position: relative;
    width: 100%;
    &.active{
      background-color: #C10230;
      &:after{
        display: none;
      }
    }
    // background-color: #C10230;
    &:before{
      position: absolute;
      content: "";
      width: 20px;
      height: 2px;
      background-color: #fff;
      right: 20px;
      top: 24px;
      right: 11px;
    }
    &:after{
      position: absolute;
      content: "";
      width: 2px;
      height: 20px;
      background-color: #fff;
      right: 20px;
      top: 16px;
      // top: 50%;
    }
    a{
      width: auto !important;
    }
  } 
}
.navbar-toggler-icon{
  border-bottom: 2px solid #2d2a26;
  position: relative;
  bottom: 5px;
  &:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #2d2a26;
    left: 0;
    bottom: 6px;
  }
  &:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #2d2a26;
    left: 0;
    top: 12px;
  }
}