header{
  .container{
    position: relative;
  }
}

.navbar-dark{
  background: $white;
  .navbar-brand{
    padding: 0; 
    img{ 
      max-width: 132px;
      margin-top: 3px;
      margin-left: 1px;
      @include tablet-sm{
        // width: 90px;
      }
    }
  }
}
@media (min-width: 992px){
  .navbar-expand-lg {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    align-items: flex-end;
  }
}
@media (max-width: 991.98px){
  .navbar-expand-lg > .container{
    padding: 0 15px;
  }
}
.navbar{
  padding:  15px 0;
  @include tablet-lg{
    padding: 15px 0;
  }
  .navbar-nav{
    font-weight: 500;
    font-size: 14px;
    text-align: left;
    text-transform: uppercase;
    li{
      a{
        //transform: scale(1.01);
        color: rgba($black, 0.9);
        padding: 14.5px 18px;
        display: inline-flex;
        width: 100%;
        &:hover{
          text-decoration: none;
          color: $danger;
        }
      }
      li {
        a{
          color: $white;
        }
      }
    }
  }
}

#menu-primery-menu{
  &.navbar-nav > li.current-menu-item > a, &.navbar-nav > li.current_page_parent > a{
    color: $red;
    &:hover{
      background: $red !important;
      color: $white !important;
    }
  }
  &.navbar-nav > li.current_page_parent{
    &:hover{
      & > a{
        color: $white;
      }
    }
  }
}

.navbar-right-nav{
  display: flex;
  align-items: center;
  li{
    position: relative;
    &:first-child{
      a{
        font-family: 'Cairo', Arial, sans-serif;
      }
    }
    a{
      display: flex;
      align-items: center;
      color: $dune;
      opacity: 0.5;
      &:hover{
        text-decoration: none;
        color: rgba($danger, 1);
        opacity: 1;
      }
    }
    & + li{
      margin-left: 30px;
     
    }
  }
  @include tablet-lg{
    display: none;
  }
}
.navbar-collapse{
  justify-content: flex-end;
  .navbar-right-nav{
    margin-left: 180px;
    @include desktop-sm{
      margin-left: 0;
    }
  }
  .close-btn{
    display: none;
    @include tablet-lg{
      display: block;
    }
  }
  @include tablet-lg{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    left: -100%;
    background: $dune;
    z-index: 9;
    visibility: hidden;
    opacity: 0;
    padding: 50px 0;
    overflow-y: scroll;
    transition: all 0.3s ease-in-out;
    &.show{
      left: 0;
      right: 0;
      visibility: visible;
      opacity: 1;
    }
  }
  &.collapse{
    display: block;
  }
}
.navbar-toggler{
  border: none;
  padding: 0;
}
@include tablet-sm{
}
.form-search{
  position: absolute;
  right: -8px;
  top: 7px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out; 
  .input-group{
    border: 1px solid $grey;
  }
  .icon-search1{
    background-position: center center;
    background-size: 20px auto;
  }
  @include tablet-sm{
    right: -0px;
    top: 0px;
    top: 0px;
  }
  &.active{
    opacity: 1;
    visibility: visible;
    @include tablet-sm{
      
    width: 95%;
    margin: 0 10px;
    }
  }
  .form-control{
    width: 400px;
  }
  .form-control {
    font-family: $avenirbook;
    font-size: 16px;
    text-transform: capitalize;
    display: block;
    height: 63px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #000000 !important;
    background-color: $white;
    background-clip: border-box;
    border: 1px solid $white;
    border-radius: 0rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    
    &:focus {
        color: #030303;
        background-color: $white; 
        border: 1px solid white;
        outline: 0;
        -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
    }
  
    &::placeholder {
      text-transform: none;
      color: $dune;
      opacity: 1;
    }
  }
  .input-group{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
  }
  .input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $gray;
    text-align: center;
    white-space: nowrap;
    background-color: $white;
    border: none;
    border-radius: 0;
    border:  0px solid $white;
    height: 63px;
}
}

.mobile-switcher{
  a{
    display: none;
  }
}
@include tablet-lg{
  .mobile-switcher{
    display: flex;
    align-items: center;
    a{
      display: block;
      color: $dune;
      padding-right: 15px;
      font-family: 'Cairo', Arial, sans-serif;
      &:hover{
        text-decoration: none;
      }
    }
  }
  .navbar-toggler-icon{
    bottom: 6px;
    border-color: rgba($dune, 0.6);
    &:before, &:after{
      background-color: rgba($dune, 0.6);
    }
  }
}

#close {
  float:right;
  display:inline-block;
  padding:2px 5px;
  background:#ccc;
  position: absolute;
}

