.slider-box{
    .lider-news{
        margin-left: 8%;
        margin-left: 45px;
        @include desktop-sm{
            margin-right: 10%;
            margin-left: 10%;
        }
        @include tablet-lg{
            margin-right: 25%;
            margin-left: 24%;
        
        }
        @include tablet-sm{
            margin-right: 20%;
            margin-left: 20%;
        }
        @include mobile-lg{
            margin-right: 16%;
            margin-left: 17%;
        }
        @include mobile-sm{
            margin-right: 8%;
            margin-left: 8%;
        }
    }
    .card{
        border-radius: 0px;
    }
    .card-img-top{
        border-radius: 0px;
    }
    .card-body{
        background-color: $dune ;
        font-family: $Avenir-Medium;
        padding: 20px 25px;
        min-height: 140px;
            @include desktop-sm{
                min-height: 170px;
            
            }
            @include tablet-lg{
                min-height: 200px;
            }
            @include tablet-sm{
                min-height: 40px;
            }
            @include mobile-lg{
                min-height: 40px;
            }
            @include mobile-sm{
                min-height: 150px;
            }
        .card-left{
            text-align: left;
            color: gray;
        }
        .card-text{
            text-align: left;
            color: $white;
            width:95%;

        }
        a{
            display: flex;
            justify-content: center;
            &:hover{
                background-color:white;
                border: solid 1px $red;
            }
            &:hover #Path{
                stroke: $red;
            }
        }
        .slider-box-sm{
            height: 50px;
            width: 50px;
            background-color: $red;
            position: absolute;
            left: 96%;
            top: 80%;
            @include desktop-sm{
                top:70%
            }
            @include tablet-lg{
                top:70%
            }
            @include tablet-sm{
                top:70%
            }
            @include mobile-sm{
                left: 90%;
            }
            svg{
                margin-top: auto;
                margin-bottom: auto;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}