// section {
//     text-align: center;

//     h1 {

//         font-weight: $Regular;
//         padding-top: $sectiontop;
//         padding-bottom: $sectionbottom;
//         font-size: $headerfont;
//         text-transform: uppercase;
//         font-weight: normal;
//         font-size: 40px;
//         letter-spacing: 0.05em;
//         text-align: center;
//         color: #f00000;


//         @include tablet-lg {
//             padding-top: 65px;
//             padding-bottom: 42px;
//             font-size: 50px;
//         }

//         @include mobile-sm {
//             padding-top: 65px;
//             padding-bottom: 42px;
//             font-size: 30px;
//         }

//     }

//     p {
//         font-size: $smallfont;
//         font-weight: normal;
//         font-size: 18px;
//         line-height: 26px;
//         text-align: center;
//         color: #54565a;
//         margin-bottom: 40px;

//         @include mobile-lg {
//             padding-top: 5px;
//             padding-bottom: 2px;
//             font-size: 18px;
//         }

//         @include mobile-sm {
//             padding-top: 5px;
//             padding-bottom: 2px;
//             font-size: 15px;
//         }
//     }

// }
