.data-main-wrap{
  max-width: 840px;
  margin: auto;
  display: flex;
  @include tablet-sm{
    width: 100%;
    flex-wrap: wrap;
    flex-flow: column;
    margin-top: -17px;
  }
  ul{
    & + ul{
      li{
        margin-left: auto;
        &:first-child{
          @include tablet-sm{
            border-top: 1px solid $dune;
          }
        }
      }
    }
  }
}
.data-listing{
  width: 50%;
  @include tablet-sm{
    width: 100%;
  }
  li{
    width: 355px;
    position: relative;
    font-family: $avenirbook;
    z-index: 999;
    display: block;
    cursor: pointer;
    //padding: 15px 0;
    @include tablet-sm{
      width: 100%;
      //padding: 10px 0;
    }
    & + li{
       border-top: 1px solid $dune;
    }
    &.active, &:hover{
      .tool-tip{
        opacity: 1;
        visibility: visible;
        &:hover{
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    .tool-tip{
      width: 332px;
      font-weight: normal;
      font-size: 16px;
      text-align: left;
      color: $abbey_1;
      padding: 30px;
      position: absolute;
      bottom: 70px;
      background-color: $white;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.11);
      max-width: 100%;
      left: 0px;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      @media(max-height: 768px){
        font-size: 16px;
        padding: 20px;
      }
      @include tablet-lg{
        left: 0;
        padding: 20px;
        bottom: 64px;
      }
      &:after{
        position: absolute;
        content: "";
        border-width: 20px 20px 25px 20px;
        border-color: #ffffff transparent transparent;
        border-style: solid;
        margin-left: -100px;
        left: 50%;
        bottom: -45px;
        @include tablet-lg{
          margin-left: -60px;
        }
        @include tablet-sm{
          margin-left: -2px;
          left: 50px;
        }
      }

    }
    .data-wrap{
      padding: 15px 0px;
      font-size: 20px;
      display: flex;
      @media(max-height: 768px){
        font-size: 18px;
      }
      @include tablet-sm{
        display: inline-flex;
        padding: 10px 0;
      }
      .count{
        font-weight: normal;
        color: $abbey_1;
        width: 45px;
        @include tablet-sm{
          width: 35px;
        }
      }
      .desc{
        padding-left: 20px;
        color: $white;
        text-transform: uppercase;
        @include tablet-sm{
          padding-left: 15px;
        }
      }
    }
  }
}


// .tool-tip {
//     li {

//         text-align: left;
//         height: 60px;

//         &:hover h3 {
//             z-index: 10;
//             opacity: 1;
//             visibility: visible;
//             position: relative;
//             left: -60px;
//             top: -328px;
//             width: 395px;
//             height: 200px;
//             padding: 30px 30px;
//             line-height: 25px;
//             transition: all 0.3s ease-in-out;
//             font-weight: normal;
//             font-size: 18px;
//             line-height: 26px;
//             text-align: left;
//             color: #54565a;


//             @include desktop-sm {
//                 width: 130%;
//             }

//             @include mobile-sm {

//                 opacity: 1;
//                 visibility: visible;
//                 position: relative;
//                 left: -30px;
//                 top: -328px;
//                 padding: 30px 30px;
//                 width: 130%;
//                 height: 214px;
//                 line-height: 25px;
//                 -webkit-transition: all 0.3s ease-in-out;
//                 transition: all 0.3s ease-in-out;
//                 font-size: 18px;

//             }

//         }

//         h2 {
//             cursor: pointer;

//             a {
//                 color: white;
//                 &:hover{
//                   text-decoration: none;
//                 }
//             }

//             hr {
//                 border-bottom: solid 1px $black;
//             }

//             width: 70%;
//             padding-bottom: 10px;
//             margin-bottom: 10px;

//             @include tablet-lg {
//                 width: 100%
//             }

//             @include mobile-sm {
//                 width: 100%
//             }

//             label {
//                 color: #54565a;
//                 margin-right: 10px;
//             }

//             &:hover {
//                 color: red;
//             }
//         }

//         h3 {
//             position: absolute;
//             opacity: 1;
//             visibility: visible;
//             position: relative;
//             left: -60px;
//             top: -328px;
//             width: 395px;
//             height: 200px;
//             transition: all 0.3s ease-in-out;
//             text-align: left;
//             color: #54565a;
//             padding: 30px 30px;
//             line-height: 25px;
//             font-size: 18px;
//             background: white;
//             opacity: 0;
//             visibility: hidden;

//             @include mobile-sm {
//                 width: 100%;
//                 height: auto;
//             }

//             &:after {
//                 position: absolute;
//                 content: "";
//                 width: 30px;
//                 height: 30px;
//                 transform: rotate(45deg);
//                 background-color: #fff;
//                 bottom: -14px;
//                 left: 180px;

//                 @include tablet-lg {
//                     left: 70px;
//                 }

//                 @include mobile-sm {
//                     left: 70px;
//                 }

//             }

//         }
//     }
// }
