.bg-image-content{
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include desktop-sm{
    height: 500px;
    background-position: center;
  }
  @include tablet-lg{
    height: 300px;
    background-position: center;
  }
}