.breadcrumb {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px 0 0;
  margin-bottom: 0;
  list-style: none;
  background-color: $white;
  border-radius: 0;
  justify-content: center;
  @include desktop-sm{
    padding: 30px 0 0;
  }
  .breadcrumb-item{
    font-family: $avenirbook;
    font-size: 13px;
    color: $black;
    opacity: 0.3;
    text-transform: uppercase;
    &.active{
      font-size: 13px;
      text-align: left;
      color: $dune;
      opacity: 0.6;
      @include tablet-sm{
        white-space: nowrap; 
        width: 150px; 
        overflow: hidden;
        text-overflow: ellipsis; 
      }
    }
    & + .breadcrumb-item{
      &:before {
        display: inline-block;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        color: #6c757d;
        content: "|";
      }
    }
  }
}


nav.left{
  .breadcrumb{
    justify-content: flex-start;
  }
}

@include tablet-sm{
  .breadcrumb{
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
   .breadcrumb-item.active{
     width: auto;
   }
  }
  nav.left{
    .breadcrumb{
      padding-left: 0px;
      padding-right: 0px;
      justify-content: center;
    }
  }
}