.business-box {
    overflow: hidden;
    background: $white;
    min-height: 520px;
    max-height: 520px;
    margin-bottom: 80px;
    padding: 30px;
    margin-right: 5px;
    margin-left: 5px;

    @include desktop-sm {
        margin-right: -7px;
    }

    @include tablet-lg {
        margin-right: -7px;
    }

    @include tablet-sm {
        margin-bottom: 20px;
        margin-right: 5px;
    }

    .business-box-content {
        margin-top: 40px;
        text-align: center;

        p {
            text-align: center;

            @include desktop-sm {
                font-size: 15px;
            }

            @include tablet-lg {
                font-size: 15px;
            }

            @include tablet-sm {
                font-size: 15px;
            }
        }
    }

    @include tablet-sm {
        // min-height: 480px;
    }

    .img {
        display: block;
        margin: 0 auto;
        overflow: hidden;
        border-bottom: 1px solid #ccc;
        margin-bottom: 30px;

        img {
            padding-bottom: 10px;
            display: block;
            margin: 0 auto;
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;

            &:hover {

                transform: scale(1.1);
                transform: scale(1.1);
                transition: transform 0.3s;
                overflow: hidden;
            }
        }
    }

    box-shadow: 0px -0px 0px #80808080;
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    }

    &:hover .box {
        opacity: 10;
        background: $red;
        height: 50px;
        width: 50px;
        position: absolute;
        left: 86.5%;
        margin-top: -50px;
        bottom: 0%;
        margin-bottom: 100px;

        @include desktop-sm {
            display: none;
        }

        @include tablet-lg {
            display: none;
        }

        @include tablet-sm {
            display: none;
        }

        svg {
            display: block;
            margin: 0 auto;
            margin-top: 25%;

        }
    }


    .box-sm {
        display: none;
        opacity: 10;
        background: #C10230;
        height: 50px;
        width: 50px;
        left: 82%;
        margin-top: -50px;
        bottom: 0%;
        margin-bottom: 45px;
        position: absolute;
        position: absolute;

        @include desktop-sm {
            left: 77%;
            display: block;
            margin-bottom: 105px;
        }

        @include tablet-lg {
            display: block;
            margin-bottom: 105px;
        }

        @include tablet-sm {
            display: block;
            margin-bottom: 35px;
        }

        svg {
            display: flex;
            margin: 0 auto;
            left: 2px;
            width: 30%;


            @include desktop-sm {
                margin-top: 10px;
                display: flex;
                // margin: 0 auto;


            }

            @include tablet-lg {
                top: auto;
                bottom: auto;
                left: auto;
                right: auto;
                margin-left: 33%;
                margin-top: 12px;

            }

            @include mobile-sm {
                top: auto;
                bottom: auto;
                left: auto;
                right: auto;
                margin-left: 33%;
                margin-top: 12px;

            }
        }

        @include mobile-sm {
            display: block;
        }
    }

    .box {
        color: red;
        transition: opacity 0.3s ease-in-out;
        opacity: .0;
        transition: opacity .50s ease-in-out;
        -moz-transition: opacity .50s ease-in-out;
        -webkit-transition: opacity .50s ease-in-out;

        &:hover {
            background: white;
            border: solid 1px $red;
        }

        &:hover #Path {
            stroke: red;
        }
    }
}
