// // Buttons styles go here
button{
    outline: none !important;
}
.btn {
    font-family: $avenirbook;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 0.11em;
    color: $white;
    font-weight:$Medium;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 18px 30px;
    line-height: 14px;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus{
      // color: $white;
      box-shadow: none;
  }
  &.btn-sm{
    font-size: 16px;
    padding: 10px 15px;
    line-height: 25px;
    height: 45px;
  }
}


.nh-btn-danger{
  text-transform: uppercase;
}

.btn-link-lg{
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.11em;
  text-align: left;
  color: $danger;
  padding: 0;
  display: inline-flex;
  align-items: center;
  i{
    margin-left: 20px;
    // width: 12px;
    height: 16px;
  }
}
.btn-link-sm{
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.11em;
  text-align: left;
  color: $danger;
  padding: 0;
  display: inline-flex;
  align-items: center;
  i{
    position: relative;
    left: 10px;
    height: 14px;
  }
}
.btn-group{
  width: 100%;
  @include tablet-sm{
    flex-flow: column;
  }
  .btn{
    & + .btn{
      margin-left: 40px;
      @include tablet-sm{
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }
  &.center{
    justify-content: center;
  }
}
.nh-btn-danger {
    color: $white;
    background-color: $danger;
    border-color: $danger;
    &:hover{
        color: $danger;
        border-color: $danger;
        background-color: $white;
    }
}
.nh-btn-secondary {
  background-color: $abbey_1;
  border-color:$abbey_1;
    &:hover{
      color: $abbey_1;
      background-color: $white;
  }
}

.close-btn{
  height: 22px;
  width: 22px;
  outline: none !important;
  right: 15px;
  position: absolute;
  top: 5px;
  background-color: transparent;
  border: none;
  color: $white;
  &:before, &:after{
    position: absolute;
    left: 15px;
    content: ' ';
    height: 22px;
    width: 2px;
    background-color: $white;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.nh-btn-danger {
  &.btn-link{
    padding: 9px;
    &:hover{
      .icon-right-arrow{
        background-image: url(../images/list-arrow-red.svg);
      }
    }
  }

}
.nh-search-btn-lg{
  height: 100%;;
  padding: 0;
  border: none;
  padding-right: 15px;
  .icon-search {
      margin: 0 auto;
      background-image: url(../images/search1.svg);
      width: 42px;
      height: 58px;
      background-position: center;
      display: block;
      background-repeat: no-repeat;
  }
}
// .close {
//   position: absolute;
//   right: 32px;
//   top: 32px;
//   width: 32px;
//   height: 32px;
//   opacity: 0.3;
// }
// .close:hover {
//   opacity: 1;
// }

// .close:before {
//   transform: rotate(45deg);
// }
// .close:after {
//   transform: rotate(-45deg);
// }