.card {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $white;
  background-clip: border-box;
  border: none;
  border-radius: 0;
  &:hover{
    figure{
      img{
        transform: scale(1.05);
      }
    }
  }
  figure{
    height: 230px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: $white;
    margin: 0;
    @include desktop-sm{
      height: 135px;
    }
    img{
      @include transition(all, 0.3s,  ease-in-out);
      max-width: 300px;
      max-height: 150px;
      @include desktop-sm{
        max-width: 230px;
      }
      @include tablet-sm{
        max-width: 280px;
      }
    }
  }
  .card-body{
    flex: 1 1 auto;
    padding: 20px;
    background-color: $dune;
    @include tablet-sm{
      padding: 26px 55px 30px 20px;
    }
  }
  h5.card-title{
    font-weight: normal;
    font-size: 20px;
    text-align: left;
    color: $white;
    margin-bottom: 15px;
    @include tablet-lg{
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  p{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: $white;
    margin-bottom: 0;
    max-width: 90%;
    & + p{
      margin-top: 20px;
    }
  }
  .btn{
    position: absolute;
    right: -20px;
    bottom: 15px;
    @include tablet-sm{
      right: 0;
      bottom: 0;
    }
  }
  .date-section{
    color: $gray-chateau;
    margin-bottom: 15px;
  }
}

.expand-card{
  .card{
    position: relative;
    height: 360px;
    transform-origin: top;
    transition: 0.3s all;
    bottom: 0px;
    @include desktop-sm{
      height: 300px;
    }
    @include tablet-lg{
      height: 268px;
    }
    @include tablet-sm{
      height: auto;
    }
    figure{
      min-height: 230px;
      overflow: hidden;
      @include desktop-sm{
        min-height: 135px;
        padding: 15px;
      }
      @include tablet-sm{
        min-height: 140px;
        padding: 15px;
        height: 140px;
      }
      img{
        @include tablet-sm{
          max-width: 200px;
          max-height: 65px;
        }
      }
    }
  }
  .card-body{
    // height: 163px;
    position: absolute;
    bottom: 0;
    @include tablet-sm{
      bottom: auto;
      top: 0px;
      position: relative;
    }
    .desc{
      max-height: 51px;
      overflow: hidden;
      transition: 0.3s all;
      &.boxscroll {
        .nicescroll-rails{
          &.nicescroll-rails-vr{
            display: none !important;
          }
        }
      }
    }
  }
  .btn-link{
    &.nh-btn-danger{
      &:hover{
        background-color: $danger;
        // .icon-down-arrow{
        //   background-image: url(../images/ico-chevron-up-red.svg);
        // }
      }
    }
  }
  .btn {
    position: absolute;
    right: 20px;
    bottom: -20px;
    z-index: 1000;
    @include tablet-sm{
      right: 0;
      bottom: 0;
    }
}
  &.show{
    
    .card{
      box-shadow: 0px -1px 20px #80808080;
      // position: absolute;
      z-index: 999;
      transform: translateY(-50px);
      padding-bottom: 0;
      @include tablet-sm{
        transform: translateY(0px);
      }
      p{
        @include tablet-sm{
          max-width: 100%;
        }
      }
    }
    .btn-link{
      bottom: -20px;
      &.btn-danger{
        &:hover{
          background-color: $danger;
        }
      }
      .icon-down-arrow{
        background-image: url(../images/ico-chevron-up.svg);
      }
    }
    .card-body{
      z-index: 1;
      height: 300px;
      min-height: 300px;
      box-shadow: 0px -20px 20px rgba(0, 0, 0, 0.2);
      position: relative;
      @include tablet-lg{
        height: 315px;
      }
      @include tablet-sm{
        padding: 26px 20px 30px 20px;
        height: 300px;
      }
      &:after{
        position: absolute;
        content: "";
        background-color: $dune;
        width: 100%;
        height: 60px;
        left: 0;
        bottom: 0;
      }
      .desc{
        max-height: inherit;
        overflow: visible;
        @include tablet-sm{
          max-height: 171px;
          overflow: auto;
        }
        p{
          &:last-child{
            // padding-bottom: 60px;
            @include tablet-sm{
              // padding-bottom: 30px;
            }
          }
        }
        &.boxscroll {
          height: 220px;
          overflow: auto;
          margin-bottom:20px;
          @include tablet-sm{
            height: 182px;
          }
        }
      }
      
    }
  }
}

.card{
  &.news-card{
    h5.card-title{
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      color: $dune;
    }
    p.card-text{
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      text-align: left;
      color: $dune;
    }
    .card-body {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 20px 0 0;
      background-color: $white;
    }
    .date-section{
      margin-top: 15px;
      @include tablet-sm{
        margin-bottom: 0;
      }
    }
    .btn{
      position: relative;
      margin-top: 40px;
      right: auto;
      @include tablet-sm{
        margin-top: 30px;
      }
    }
  }
}
.card{
  &.default-card{
    display: block;
    padding: 20px;
    transition: all .3s ease-in-out;
    min-height: 220px;
    @include tablet-sm{
      min-height: auto;
    }
    figure{
      height: 100px;
      padding: 0px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      background-color: $white;
      margin: 0;
      @media(max-height: 768px){
        height: 80px;
      }
      img{
        max-width: 150px;
        max-height: 70px;
      }
    }
    &:hover{
      box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
      .btn-link{
        opacity: 1;
        visibility: visible;
        border: 1px solid $danger;
      }
    }
    img{
      margin: auto;
      display: block;
    }
    .card-body{
      background-color: $white;
      border-top: 1px solid rgba($black, 0.2);
      margin-top: 15px;
      padding: 15px 0 0px;
      .card-text, p{
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        text-align: left;
        color: $abbey_1;
      }
    }
    .btn-link{
      transition: all .3s ease-in-out;
      opacity: 0;
      visibility: hidden;
      @include tablet-sm{
        opacity: 1;
      visibility: visible;
      }
    }
  }
}

.expand-card.show .card-body {
  height: auto;
  min-height: auto;
  padding: 30px 20px;
  &:after{
    display: none;
  }
  .desc.mCustomScrollbar{
    max-height: 200px;
    min-height: 120px;
    height: auto;
  }
}