.banner {
    .slick-dots {
        display: flex;
        position: absolute;
        top: 90%;
        left: 10%;

        .slick-active {
            button {
                color: white;
                height: 25px;
                font-size: 12px;
                width: 25px;
                border: solid 1px white;

                @include tablet-sm {
                    height: 22px;
                    width: 22px;
                    font-size: 10px;
                }
            }
        }

        li {
            margin-left: 20px;
            color: #3c3333;
            font-size: 12px;
            background: #29272700;

            @include tablet-sm {
                margin-left: 10px;
            }

            button {
                height: 25px;
                width: 25px;
                border: solid 1px #3c3333;
                background: #29272700;

                @include tablet-sm {
                    height: 22px;
                    width: 22px;
                    font-size: 10px;
                }
            }
        }
    }

    @include tablet-sm {
        .slick-slider {
            .w-100 {
                width: 150% !important;
            }
        }
    }

    .slick-item {
        position: relative;

        .caption {
            position: absolute;
            left: 6%;
            min-height: 52%;
            max-height: 55%;
            bottom: 0px;

            @include tablet-lg {
                left: 12%;
            }

            @include tablet-sm {
                margin-top: 20%;
                left: 12%;
            }

            h2 {
                background: black;
                font-family: $avenirbook;
                letter-spacing: 0.02em;
                font-weight: normal;
                font-size: 40px;
                padding: 0px 20px;
                text-align: left;
                color: #fff;
                margin-top: 1px;

                @include tablet-lg {
                    font-size: 25px;
                }

                @include tablet-sm {}

                &:nth-child(1) {
                    width: 90%;
                    padding-left: 20px;

                    @include tablet-lg {
                        width: 100%;
                        font-size: 25px;
                    }

                    @include tablet-sm {}
                }

                &:nth-child(2) {
                    width: 110%;

                    @include tablet-lg {
                        width: 100%;
                    }

                    @include tablet-sm {}
                }

            }
        }

    }

    .prev-arrow,
    .next-arrow {
        &.slick-arrow {
            display: inline-block;
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: transparent;
            z-index: 1;
            outline: none;
            border: 1px solid #000;

            &:hover {
                background: $red;
                border: solid 1px white;
            }

            &:hover #Path {
                stroke: white !important;
                opacity: 10;
            }

            svg {
                margin-top: 8px;


                @include tablet-sm {
                    margin-top: -5px;
                    width: 5px;
                }
            }

            @include tablet-sm {
                width: 20px;
                height: 20px;
            }

            img {
                @include tablet-sm {
                    margin-top: -10px;
                    width: 10px;
                    height: 10px;
                }

            }
        }
    }

    .next-arrow {
        top: 50%;
        right: 0;
        margin-top: -17px;
        right: 15px;

        @include tablet-sm {
            top: 55%;
            margin-top: -25px;
        }
    }

    .prev-arrow {
        bottom: 45%;
        left: 0;
        margin-top: -55px;
        left: 15px;

        @include tablet-sm {
            bottom: 50%;
            margin-top: -25px;
        }
    }
}
