.box-content-address {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    border-bottom: 1px solid #a7a8a9;
  @include tablet-lg{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  h5 {
    font-family: $avenirbook;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    color: $red;
  }
  address,
  a,
  span {
    font-family: $avenirbook;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
  }

  @include desktop-sm {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;

  }
  @include tablet-lg {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }

  ul {
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    li {
      display: flex;
      justify-content: space-between;
      font-weight: 400;
      font-size: 18px;
      line-height: 26px;
      text-align: left;
      span {
        width: 145px;
        @include desktop-sm {
          width: 120px;
        }
        @include tablet-lg {
          width: 55px;
        }
      }
    }
  }
}
