.couter-wrap{
  @include tablet-sm{
    margin-top: 15px;
  }
  &.no-slider{
    display: flex;
    justify-content: space-between;
    @include desktop-sm{
      padding-left: 20px;
    }
    @include tablet-lg{
      justify-content: flex-start;
      padding-left: 40px;
    }
    @include tablet-sm{
      display: block;
      padding-left: 0;
    }
    .counter-up{
      min-width: auto;
      border: 0px;
      width: 100%;
      
      @include tablet-lg{
        margin-left: 0;
        width: 33.33%;
        padding-left: 15px;
        margin-bottom: 30px;
      }
      @include tablet-sm{
        margin-bottom: 0;
        padding-top: 0;
        margin-top: 15px;
      }
      @include tablet-sm{
        width: 140px;
        min-width: auto;
        padding: 0px;
        margin: 0px;
      }
      & + .counter-up{
        margin: 0px;
        padding: 0px;
        border-left: 1px solid rgba($white, 0.5);
        padding-left: 40px;
        margin-left: 40px;
        @include desktop-sm{
          padding-left: 20px;
          margin-left: 20px;
        }
        @include tablet-lg{
          margin-left: 0;
          padding-left: 15px;
          border-left: none;
        }
        @include tablet-sm{
         margin: 0px;
         padding: 0px;
         border: 0px;
        }
      }
    }

  }
  @include tablet-lg{
    flex-wrap: wrap;
  }
  & + .couter-wrap{
    border-left: 1px solid rgba(#979797, 0.2);
  }
}

.counter-slider {
  width: 920px;
  @include tablet-lg{
    width: 100%;
  }
  @include mobile-sm{

  }
}

.counter-up{
  min-width: 200px;
  @include desktop-sm{
    min-width: 160px;
  }
  @include tablet-lg{
    margin-left: 40px;
    margin-right: 0;
  }
  @include tablet-sm{
    min-width: 50%;
    padding-top: 22px;
    margin-left: 0;
  }
  &:nth-child(1n + 3){
    @include tablet-lg{
      border-top: 1px solid rgba($white, 0.6);
      margin-top: 22px;
      padding-top: 22px;
    }
  }
  &:nth-child(1n + 5){
    @include tablet-sm{
     padding-bottom: 0;
    }
  }
  & + .counter-up{
    margin-right: 40px;
    border-right: 1px solid rgba($white, 0.6);
    padding-right: 0px;
    @include desktop-sm{
      margin-right: 20px;
    }
    @include tablet-lg{
      margin-right: 0;
      border-right: none;
     
    }
  }
  .count{
    font-size: 50px;
    line-height: 50px;
    color: $dune;
    display: flex;
    justify-content: flex-start;
    @include desktop-sm{
      font-size: 30px;
    line-height: 30px;
    }
    // @media(max-height: 768px){
    //   font-size: 40px;
    // }
    @include tablet-sm{
      font-size: 30px;
      line-height: 40px;
      display: block;
      text-align: center;
    }
    @include mobile-sm{
      font-size: 24px;
      line-height: 30px;
    }
    .num-counter{
      display: inline-block;
      width: auto;
      font-weight: 900;
      span{
        height: 50px;
      }
      & + span{
        font-size: 45px;
        font-weight: 300;
        @include mobile-sm{
          font-size: 25px;
        }
      }
    }
  }
  h6{
    font-weight: normal;
    text-transform: uppercase;
    opacity: 0.7;
    font-size: 17px;
    line-height: 26px;
    text-align: left;
    color: $dune;
    margin: 4px 0px 0px 0px;
    white-space: nowrap;
    @include tablet-sm{
      font-size: 16px;
      padding: 0;
      text-align: center;
    }
    @media(max-width: 320px){
      font-size: 14px;
    }
    @include mobile-sm{
      font-size: 14px;
    }
  }
  figure{
    height: 144px;
    display: flex;
    width: 200px;
    align-items: flex-end;
    margin: auto;
    display: none;
    @include tablet-sm{
      width: 120px;
      height: 75px;
    }
    img{
      width: 100%;
      display: block;
      margin: auto;
    }
    
  }
}


