.form-group {
    position: relative;
    &:focus-within #placeholder {
        display: none;
    }

    &:visited #placeholder {
      display: none;

  }
  
  
  // .placeholder {
  //   opacity: 0;
  // }
  
  
  input:required:invalid:not(:placeholder-shown) + .placeholder {
    opacity: 1;
  }

    .placeholder {
        font-family: $avenirbook;
        font-weight: normal;
        font-size: 16px;
        color: $dune;
        text-transform: uppercase;
        position: absolute;
        pointer-events: none;
        top: 14px;
        bottom: 0px;
        left: 20px;
        margin: auto;
        @include tablet-sm{
         left: 15px;
        }
        @media(max-width: 320px){
          left: 10px;
        }
        span {
          color: $danger;
          margin-left: 5px;
        }
    }
    margin-bottom: 40px;
    @include tablet-sm {
        margin-bottom: 20px;
    }
    &.justify {
        display: flex;
        justify-content: space-around;
    }
}

.nh-form-control {
    font-family: $avenirbook;
    font-weight: normal;
    font-size: 16px;
    text-align: left;
    color: $dune;
    text-transform: capitalize;
    display: block;
    width: 100%;
    padding: 15px 20px;
    height: 50px;
    border-radius: 0;
    line-height: 1.5;
    background-color: transparent;
    background-clip: padding-box;
    border: 1px solid rgba($black, 0.5);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;

    @include tablet-sm {
        padding: 15px 15px;
    }
    @media(max-width: 320px){
      padding: 15px 10px;
      font-size: 14px;
    }

    &::-webkit-input-placeholder {
        color: $dune;
        opacity: 1;
    }

    &::-moz-placeholder {
        color: $dune;
    }

    &:-ms-input-placeholder {
        color: $dune;
    }

    &::-ms-input-placeholder {
        color: $dune;
    }

    &:focus {
        outline: none;
    }
}

.required::-webkit-input-placeholder:after {
    content: '*';
    color: red;
}

.required:-moz-placeholder:after {
    /* Firefox 18- */
    content: '*';
    color: red;
}

.required::-moz-placeholder:after {
    /* Firefox 19+ */
    content: '*';
    color: red;
}

.required:-ms-input-placeholder:after {
    content: '*';
    color: red;
}

// input[type="text"] + label {
//   font-family: $avenirbook;
//   font-weight: normal;
//   font-size: 16px;
//   text-align: left;
//   color: $dune;
//   text-transform: uppercase;
//   position: relative;
//   left: 31px;
//   top: -43px;
// }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
    color: $dune;
}

input[type="text"] {
    color: $dune;
}

textarea.nh-form-control {
    height: 150px;
    resize: none;
}
.wpcf7-form-control{
  &::-webkit-input-placeholder {
    color: $dune;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $dune;
  }
  &:-ms-input-placeholder {
    color: $dune;
  }
  &::-ms-input-placeholder {
    color: $dune;
  }
}