.filter-gallery{
.gallery-pills{
  background-color: $gallery;
  padding: 35px 0;
  @include tablet-sm{
    padding: 30px 0;
  }
}
.tab-para-row{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  max-width: 100%;
  width: 100%;
  .col-md-12{
    img{
      float: right;
      margin-left: 30px;
      max-width: 400px;
      width: 100%;
      height: auto;
      @include tablet-sm{
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
      }
      & + .w-100{
        // width: auto !important;
        display: inline;
      }
    }
    p{
      &:last-child{
        margin-bottom: 0px;
      }
    }
  }
  @include desktop-sm{
    margin-right: 0;
    margin-left: 0;
  }
}
.nav {
  display: inline-flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  @include desktop-sm{
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
    flex-wrap: nowrap;
    max-width: 100%;
    justify-content: flex-start;
  }
  .nav-item{
    a{
      padding: 11.5px 25.3px;
      display: block;
      &.tab-sm{
        font-size: 16px;
        border-radius: 0px;
        padding: 10px 15px;
        line-height: 25px;
        height: 45px;
      }
    }
  }
}
.nav li a { 
  font-size:16px; 
  transition-duration: 0.4s;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  color: #000;
  @include tablet-sm{
    font-size: 16px;
    line-height: 22px;
  }
  &:hover{
    text-decoration: none;
  }
  &.active{
    &:hover{
      background-color: $danger;
    }
  }
}
.nav a:hover { 
  background:$gray-chateau; 
}
.nav .active { 
  background-color: $danger;
  color:#fff;
}
.gallery-content{
  background-color: rgba($gray-chateau, 0.1) ;
  padding: 50px 0 60px;
  @media(max-width: 736px){
    padding: 30px 0;
  }
  .tab-content > .active{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: auto;
  }
  .row{
    width: 100%;
    justify-content: space-between;
    margin: 0 -20px;
    @include tablet-sm{
      margin: 0;
    }
    .col-md-6{
      transition-duration: 0.4s;
      animation: winanim 0.5s ; 
      @media(min-width: 1201px){
        padding: 0 20px;
      }
      &:nth-child(1n + 3){
        margin-top: 40px;
      }
      &:nth-child(1n + 2){
        @include tablet-sm{
          margin-top: 20px;
        }
      }
    }
  }
}
.pills-tab-wrap{
  margin: auto;
  text-align: center;
  @include desktop-sm{
    width: auto;
  }
  @include desktop-sm{
    //overflow: scroll;
  }
}

@keyframes winanim {
    0%{opacity:0;transform:scale3d(.3,.3,.3)}
    50%{opacity:1}
    
  }
}


