.loade {
        border-right: solid .5px #2b2b2b;
    h2 {
        font-size: $bigfont;
        color: #C10230;

        @include tablet-lg {
            font-size: 60px;
        }
        @include tablet-sm {
            font-size: $headerfont;
        }
    }

    p {
        margin-bottom: -0PX;
        font-size: $mediamfont;
        color: white;
        text-align: center;

        @include tablet-lg {
            font-size: 20px;

        }
        @include tablet-sm {
        font-size: $mediamfont;

        }
    }

    img {
        padding-top: 30px;
        margin-left: auto;
        margin-right: auto;
        @include tablet-lg {
            margin-left: auto;
            margin-right: auto;
            height: 100px;
            width: 180px;
        }
        @include mobile-sm {
            margin-left: auto;
            margin-right: auto;
        }
    }
}