
#hero-slider{
  cursor: pointer;
  &:hover{
    .slide-arrow.prev-arrow{
      left: 45px;
      @media(max-width: 1440px){
        left: 25px;
      }
      @include tablet-sm{
        left: 20px;
      }
    }
    .slide-arrow.next-arrow{
      right: 45px;
      @media(max-width: 1440px){
        right: 25px;
      }
      @include tablet-sm{
        right: 20px;
      }
    }
    .slide-arrow.prev-arrow, .slide-arrow.next-arrow{
      opacity: 1;
      visibility: visible;
      
    }
  }
  .slide-arrow.prev-arrow, .slide-arrow.next-arrow{
    position: absolute !important;
    z-index: 1;
    border: 1px solid $black;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
    &:hover{
      border: 1px solid $white;
      .icon-black-left-arrow{
        background-image: url(../images/left-arrow-white.svg);
      }
      .icon-black-right-arrow{
        background-image: url(../images/right-arrow-white.svg);
      }
    }
  }
  .slide-arrow.prev-arrow{
    top: 50%;
    left: 0;
    margin-top: -22.5px;
    @include tablet-sm{
      margin-top: -47.5px;
    }
  }
  .slide-arrow.next-arrow{
    bottom: 50%;
    right: 0;
    margin-bottom: -22.5px;
    @include tablet-sm{
      margin-bottom: 3.5px;
    }
    
  }
  .slick-dots{
    position: absolute;
  }
  ul.slick-dots{
    width: 1180px;
    position: absolute;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: flex-start;
    margin: 0px auto;
    bottom: 60px;
    padding: 0 15px;
    @include desktop-sm{
      max-width: 960px;
    }
    @include tablet-lg{
      bottom: 30px;
      max-width: 720px;
    }
    @include tablet-sm{
      bottom: 20px;
      max-width: 100%;
    }
    button{
      padding:0px;
      background-color: transparent;
      border: 1px solid rgba($dune, 1);
      font-size: 14px;
      width: 25px;
      height: 25px;
    }
    li{
      &.slick-active{
        button{
          border-color: $white;
          color: $white;
        }
      }
      & + li{
        margin-left: 10px;
      }
    }
  }
  .slick-dots li button::before {
    content: "0";
    font-family: $avenirbook;
  }
}
.hero-banner{
  height: 590px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  @media(max-height: 768px){
    height: 440px;
  }
  @include tablet-lg{
    height: 300px;
  }
  @include tablet-sm{
    height: 200px;
  }
  .container{
    position: relative;
    height: 100%;
  }
  
}
.hero-caption{
  position: absolute;
  top: 50%;
  margin-top: -95px;
  @media(max-height: 768px){
    margin-top: -80px;
  }
  @include tablet-lg{
    margin-top: -45px;
  }
  @include tablet-sm{
    margin-top: -35px;
  }
  h1,h2{
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0.04em;
    color: $white;
    display: inline-flex;
    padding: 0px;
    @media(max-height: 768px){
      font-size: 40px;
      line-height: 55px;
    }
    @include tablet-lg{
      font-size: 30px;
      line-height: 40px;
    }
    @include tablet-sm{
      font-size: 24px;
      line-height: 30px;
    }
  }
  h2{
    margin-top: 1px;
  }
}




@include tablet-sm{
  #hero-slider:hover .slide-arrow.prev-arrow, #hero-slider:hover .slide-arrow.next-arrow{
    display: none !important;
  }
}