.image-content{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  &.wide{
    max-width: 100%;
    margin: 0px -15px;
  }
  .image-content-box{
    & + .image-box{
      max-width: 275px;
      margin-right: 0px;
      margin-left: auto; 
      margin-top: -15px;
      @include tablet-lg{
        margin-left: 0; 
        max-width: 200px;
        margin-bottom: 25px;
      }
      @include tablet-sm{
        margin-right: auto;
        margin-left: auto;
      }
      img{
        width: 100%;
      }
    }
  }
  @include tablet-lg{
    flex-flow: column;
    flex-direction: column-reverse;
  }
  @include tablet-lg{
    align-items: flex-start;
  }
  &.reverse{
    flex-direction: row-reverse;
    justify-content: space-between;
    @include tablet-lg{
      flex-flow: column;
      flex-direction: column-reverse;
    }
    .image-content-box{
      & + .image-box{
        margin-right: auto;
        margin-left: 0px;
        @include desktop-sm{
          padding-right: 30px;
          
        }
        @include tablet-lg{
          padding-right: 0;
        }
        @include tablet-sm{
          margin-left: auto;
        }
      }
    }
  }
}
.image-content-box{
  max-width: 600px;
  @include tablet-sm{
    text-align: center;
  }
  &.bottom-padding-md{
    padding-bottom: 50px;
    @include tablet-sm{
      padding-bottom: 30px;
    }
  }
  .nh-btn-danger + .nh-btn-danger{
    display: none;
  }
  h3{
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: $dune;
    @include tablet-sm{
      font-size: 24px;
      line-height: 30px;
    }
    & + h6{
      margin-top: 10px;
    }
  }
  h6{
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: $danger;
    @include tablet-sm{
      font-size: 14px;
      line-height: 24px;
    }
    & + .desc-content{
      padding-top: 20px;
      @include tablet-sm{
        padding-top: 10px;
      }
    }
  }
  .leader{
    p{
      font-weight: normal;
      font-size: 24px;
      line-height: 32px;
      text-align: left;
      color: #2d2a26;
      &:last-child{
        margin-bottom: 0;
      }
      @include tablet-sm{
        font-size: 20px;
        line-height: 26px;
      }
      
    }
  }
  p{
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: left;
    color: $black;
    @include tablet-sm{
      text-align: center;
      font-size: 16px;
      line-height: 22px;
    }
  }
  
}
.image-box{
  img{
    @include tablet-lg{
      max-width: 100%;
      height: 100%;
    }
  }
}
#search{
  &::placeholder{
    font-family: $avenirbook;
  }
}