.image-news{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  &.right-content{
    flex-direction: row-reverse;
    @include tablet-sm{
      flex-direction: column-reverse;
    }
    .image-news-holder{
      @include tablet-sm{
        margin-top: 28px;
      }
      & + .image-news-holder{
        @include tablet-sm{
          margin-top: 0;
        }
      }
    }
      .desc{
        p{
          & + .btn{
            @include tablet-sm{
              margin-bottom: 0;
            }
          }
        } 
      } 
    // margin: 0 -15px;
  }
  .image-news-holder{
    width: 479px;
    padding-left: 40px;
    @include desktop-sm{
      width: 100%;
      padding-left: 0;
    }
    figure{
      img{
        @include tablet-lg{
          width: 100%;
        }
        // width: 671px;
      }
    }
    & + .image-news-holder{
      width: 671px;
      padding-left: 0;
      @include desktop-sm{
        width: 100%;
      }
    }
  }
  h3.sub-title{
    & + .desc {
      margin-top: 22px;
    }
  } 
  .desc{
    p{
      & + .btn{
        margin-top: 27px;
        @include desktop-sm{
          margin-top: 0;
          margin-bottom: 27px;
        }
      }
    }
  }
  &.image-news-full-width{
    max-width: 950px;
    z-index: 1;
    position: relative;
    &.center{
      margin: auto;
      @include tablet-lg{
        margin: 0 -15px;
      }
    }
    @include tablet-lg{
      max-width: 100%;
    }
    @include tablet-sm{
      margin: 0;
    }
    .image-news-holder{
      padding-left: 0;
      width: 100%;
      padding: 0 15px;
      p{
        font-weight: normal;
        font-size: 24px;
        line-height: 32px;
        text-align: left;
        color: $dune;
        @include tablet-sm{
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
    .date-section{
      & + .sub-title {
        margin-top: 40px;
        @media(max-width: 1200px){
          margin-top: 30px;
        }
        @media(max-width: 736px){
          margin-top: 25px;
        }
      }
    }
  }
}


.date-section{
  font-family: $avenirbook;
  font-size: 14px;
  letter-spacing: 0.14em;
  text-align: left;
  color: $abbey_1;
  display: flex;
  align-items: center;
  i{
    margin-right: 22px;
  }
  & + .sub-title{
    margin-top: 40px;
    @include tablet-sm{
      margin-top: 25px;
    }
  }
}




