.inner-banner{
  height: 360px;
  background-size: cover;
  background-position: left center;
  @include tablet-lg{
    height: 300px;
    background-position: center;
  }
  @include tablet-sm{
    height: 200px;
  }
  .container{
    position: relative;
    height: 100%;
    display: none;
  }
  .banner-caption{
    text-align: left;
    position: absolute;
    bottom: 100px;
    @include tablet-sm{
      bottom: 40px;
    }
    br{
      @include tablet-sm{
        display: none;
      }
    }
    h1{
      font-weight: normal;
      font-size: 50px;
      letter-spacing: 0.04em;
      color: $white;
      padding: 0;
      display: inline-flex;
      background: $dune;
      padding: 3px 43px 3px 16px;
      flex-flow: column;
      @include tablet-sm{
        font-size: 30px;
        padding: 3px 16px;
        display: table-caption;
      }
    }
    h2{
      font-weight: normal;
      font-size: 40px;
      color: $white;
      padding: 0;
      background: $dune;
      opacity: 0.95;
      display: inline-flex;
      margin-top: 1px;
      // height: 66px;
      padding: 12px 16px 6px;
      @include tablet-sm{
        font-size: 34px;
        display: table-caption;
      }
    }
  }
}


