.leader-details-wrapper {
    p {
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        text-align: left;
        color: $dune;

    }
}
.leader-details-button-wrapper{
    text-align: center;
}