.news {
    padding: 130px 0px;

    @include desktop-sm {
        padding: 60px 70px;
    }

    @include tablet-lg {
        padding: 10px 70px;
    }

    @include tablet-sm {
        padding: 0px 0px;
    }

    h2 {
        color: $red;
        text-align: center;
        font-size: $font;
        letter-spacing: 0.4px;
        margin-bottom: 20px;

        @include desktop-sm {
            font-size: 30px;
            padding-top: 50px;
        }

        @include tablet-lg {

            font-size: 30px;
            margin-top: 50px;
        }

        @include tablet-sm {

            font-size: 30px;
            margin-top: 50px;
        }
    }

    h3 {
        margin-bottom: 95px;
        text-align: center;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        color: #54565a;
        @include desktop-sm{
            font-size: 15px;
        }
        @include tablet-lg{
            margin-bottom: 45px;
            font-size: 15px;
        }
        @include tablet-sm{
            font-size: 15px;
        }

    }

    .card-slider {
        padding: 0px 0px;
        margin: 0px -350px;
        position: relative;
        // overflow: hidden;

        @include tablet-sm {
            padding: 0px 0px;
            margin: 0px 0px;
            // overflow: hidden;x
        }
    }
}
