.radio-button-wrap{
  height: 60px;
  display: flex;
  justify-content: flex-start;
  padding: 15px 0px;
}
.radio-button {
  font-family: $avenirbook;
  font-size: 16px;
  width: 169px;
  @include tablet-lg{
    width: 100%;
  }
  @media(max-width: 320px){
    font-size: 14px;
  }
}
// [type="radio"]:checked,
// [type="radio"]:not(:checked) {
//     position: absolute;
//     left: -9999px;
// }

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: $dune;
    font-size: 16px;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: -20px;
    top: -5px;
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
    @include tablet-lg{
      
    left: -10px;
    }
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 18px;
    height: 18px;
    background: rgba($dune, 0.5);
    position: absolute;
    top: 2px;
    left: -13px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    @include tablet-lg{
      
    left: -3px;
    }
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

