.search-result-wrap {
  .search-result-item {
    border-top: 1px solid $gray-chateau;
    padding: 30px 0px;
    @include tablet-sm{
      padding: 20px 0;
    }
    &:last-child{
      padding-bottom: 0px;
    }
    h4{
      font-weight: $Medium;
      font-size: 20px;
      line-height: 28px;
      margin-top: -3px;
      font-weight: normal;
      color: $dune ;
      @include tablet-sm{
        line-height: 24px;
      }
    }
    p {
      margin-top: 15px;
      margin-bottom: 0px;
      font-weight: normal;
      font-family: $avenirbook;
      font-size: 16px;
      @include tablet-sm{
        line-height: 24px;
      }
    }
    a{
      margin-top: 15px;
    }
  }
}

