.select2-container--default .select2-selection--single{
  width: 100% !important;
}
.select2-selection--single,.select2-search__field{
    &:focus{
        outline: auto 0px !important;
        box-shadow: 1px 1px 1px white;
    }
}
.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
    background: #eaeaea;
}
.select2-results__option {
    font-family: $avenirbook;
    padding: 6px;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    font-family: $avenirbook;
    background-color: #888686;
    color: white;
}
.select2-dropdown {
    background-color: rgb(238, 238, 238);
    border: 1px solid #aaa;
    border-radius: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: -100000px;
    width: 100%;
    z-index: 1051;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: $dune!important;
    border-style: solid;
    border-width: 0 1px 1px 0 !important;
    height: 12px;
    left: -100%;
    margin-left: -10%;
    margin-top:-5px;
    position: absolute;
    top: 40%;
    width: 12px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.select2.select2-container.select2-container--default.select2-container--below.select2-container--open .select2-selection__arrow b {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin-top: 4px;
    margin-left: -0px;
}
// .select2-container--default .select2-selection--single .select2-selection__arrow b {
//     border-color: #101010 transparent transparent transparent;
//     border-style: solid;
//     border-width: 12px 10px 0 4px;
//     height: 0;
//     left: 50%;
//     margin-left: -14px;
//     margin-top: -2px;
//     position: absolute;
//     top: 50%;
//     width: 0;
// }
.select2-container--default .select2-selection--single {
    font-family: $avenirbook;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #8c8a88;
    height: 50px;
    border-radius: 0px;
    text-transform: uppercase;
    color: #495057;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 50px;
    position: absolute;
    top: 1px;
    right: -10px;
    width: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $dune;
    line-height: 50px;
    font-size: 16px;
    @media(max-width: 320px){
      font-size: 14px;
    }
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  @include tablet-sm{
    padding-left: 15px;
    padding-right: 15px;
  }
}
.selector-option{
    option{
        
    &:nth-child(1){
        color:red!important;
    }
    }
}
.select-option{
    &:valid #placeholder{
        font-size: 75%;
        transform: translate3d(0, -100%, 0);
        opacity: 1;
    }
    
}
.form-group .select2-container--default .placeholder {
    opacity: 1;
}
.select2-search--dropdown{
    font-family: $avenirbook;
}

.form-group .select2-selection__placeholder {
    color: #2d2a26!important;
    &::after{
        margin-left: 10px;
        content: '*';
        position: absolute;
        color: #C10230;
    }
  }