.subtitle-content{
  text-align: center;
  .desc{
    & + .btn{
      margin-top: 58px;
      @media(max-width: 1200px){
        margin-top: 40px;
      }
      @media(max-width: 736px){
        margin-top: 0;
      }
    }
  }
}