.table{
  margin-bottom: 0;
  &.list-table{
    tr{
      td{
          font-weight: normal;
          font-size: 18px;
          line-height: 26px;
          text-align: left;
          color: $dune;
          padding: 17.5px 0;
      }
      td{
        &:first-child{
          border: none;
          color: $danger;
          padding-right: 40px;
          @include tablet-sm{
            padding-right: 20px;
          }
        }
        &:last-child{
          vertical-align: top;
          border-top: none;
          border-bottom: 1px solid $alto;
        }
      }
      &:last-child{
        td{
          border-bottom: none;
          padding-bottom: 0;
        }
      }
    }
  }
}