h2,h1.title, h3.sub-title{text-align: left;}
h2.title, h1.title{ 
  font-size: 30px;
  letter-spacing: 2px;
  text-align: center;
  color: $danger;
  font-family: $avenirbook;
  margin-top: -10px;
  @include tablet-sm{
    font-size: 22px;
    line-height: 26px;
    margin-top: 0;
  }
  & + h3.sub-title{
      padding-top: 30px;
      margin-top: -14px;
      @media(max-width: 1200px){
        padding-top: 40px;
      }
      @media(max-width: 736px){
        padding-top: 30px;
      }
  }
  & + .top-padding-xmd{
    margin-top: -13px;
  }
}
h3.sub-title{
  font-weight: normal;
  font-size: 22px;
  line-height: 30px;
  color: $dune;
  margin-top: -10px;
  @include tablet-sm{
    font-size: 18px;
    line-height: 26px;
  }
  & + h3.sub-title{
    margin-top: 20px;
  }
  & + .desc, & + p{
    margin-top: 25px;
    ul{
      list-style-type: disc;
      li{
        margin-left: 20px;  
      }
    }
    @media(max-width: 1200px){
      margin-top: 30px;
    }
    @include tablet-sm{
      margin-top: 25px;
    }
  }
}
h3.title{
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: $abbey;
  margin-top: 0px;
  @include tablet-sm{
    font-size: 22px;
    line-height: 26px;
  }
  & + h3.sub-title{
    margin-top: 20px;
    @media(max-width: 1200px){
      margin-top: 40px;
    }
    @media(max-width: 736px){
      margin-top: 20px;
    }
  }
  & + .desc{
    margin-top: 20px;
    p{
      font-size: 16px;
    }
    @include tablet-lg{
      margin-top: 25px;
    }
    @include tablet-sm{
      margin-top: 20px;
    }
    
  }
}
.title-logo{
  margin-bottom: 35px;
  text-align: center;
  @media(max-width: 736px){
    width: 180px;
    margin: 0 auto 25px;
  }
}

main{
  &.bottom-padding-md{
    padding-bottom: 30px;
    @include tablet-sm{
      padding-bottom: 20px;
    }
  }
  &.top-padding-sm{
    padding-top: 20px;
  }
}