.values {
    padding-top: 125px;
    text-align: center;

    @include desktop-sm {
        padding-top: 75px;
    }

    @include mobile-sm {
        padding-top: 85px;
    }

    h2 {
        font-size: $font;
        letter-spacing: 0.04px;
        color: #fff;
        padding-bottom: 120px;

        @include desktop-sm {
            padding-bottom: 40px;
        }

        @include mobile-sm {

            padding-bottom: 40px;
        }
    }

    ul {
        li {
            text-align: left;
            height: 70px;
            width: 400px;
            ;

            @include tablet-lg {
                width: 280px;

            }

            @include mobile-sm {
                width: 250px;
                ;
            }
        }

        h2 {
            color: $white;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 24px;
            text-align: left;
            color: #fff;

            @include tablet-lg {
                font-size: 15px;
            }

            @include tablet-sm {

                font-size: 15px;
            }
        }
    }
}
