.vision {
    padding: 150px 0px;
    background: $red;
    padding-top: 15px;

    @include desktop-sm {
        padding-bottom: 80px;
    }

    h2 {
        color: #fff;

        @include desktop-sm {
            margin-top: 80px;
        }
    }

    h3 {
        margin: auto;
        padding-top: 70px;
        padding-left: 6%;
        padding-right: 6%;
        width: 1000px;
        font-family: Avenir-Book;
        font-weight: normal;
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        color: #fff;

        @include desktop-sm {
            width: 930px;

        }

        @include tablet-lg {
            line-height: 30px;
            font-size: 15px !important;
            width: 100%;
            font-size: 24px;

        }

        @include tablet-sm {
            line-height: 30px;
            font-size: 20px !important;
            width: 100%;
            font-size: 20px;

        }

        @include mobile-lg {
            line-height: 30px;
            font-size: 20px !important;
            width: 100%;
            font-size: 20px;

        }

        @include mobile-sm {
            line-height: 30px;
            font-size: 20px !important;
            padding-top: 10px;
            width: 100%;
            font-size: 20px;

        }

    }
}
