// header
.navbar-nav {
    margin-right: auto;
.navbar-right-nav li + li {
    margin-right: 30px;
}
}
.navbar-right-nav li + li {
    margin-right: 30px;
}
// banner
#hero-slider ul.slick-dots li {
    margin-left: 0px;
    margin-right: 10px;
}

// OUR BUSINESSES
.card .btn {
    position: absolute;
    bottom: 25px;
    right: auto;

    @media(max-width: 736px) {
        right: auto;
        bottom: auto;
        margin: 20px -20px;
    }

    .icon-right-arrow {

        transform: rotate(180deg);
    }
}


// news slider

// #news-card-slider {
//     .card {
//         p{
//           text-align: right;
//         }
//         .btn {
//           @media(max-width: 736px) {
//             right: auto;
//             bottom: auto;
//             margin: -20px -20px;
//           }
//         }
//     }
//     .slide-arrow.prev-arrow {
//         top: 100%;
//         left: 50%;
//         margin-top: 100px;
//         margin-left: 47px;
//         transform: rotate(-180deg);
//         &:after {
//             position: absolute;
//             content: "";
//             height: 102px;
//             width: 1px;
//             background-color: #a7a8a9;
//             right: -45px;
//         }
//         @media(max-width: 1200px){
//             margin-top: 40px;
//         }
//         @media(max-width: 736px) {
//             margin-top: 40px;
//             -webkit-transform: rotate(-180deg);
//             -ms-transform: rotate(-180deg);
//             transform: rotate(-180deg);
//         }

//     }

//     .slide-arrow.next-arrow {
//         margin-right: 47px;
//         transform: rotate(180deg);

//         @media(max-width: 1200px){
//             margin-top: 40px;
//         }
//         @media(max-width: 736px) {
//             top: 100%;
//             left: 50%;
//             margin-top: 40px;
//             -webkit-transform: rotate(-180deg);
//             -ms-transform: rotate(-180deg);
//             transform: rotate(-180deg);
//         }
//     }
// }

// footer
.nh-info a i {
    margin-left: 60px;

    margin-right: 0px;
}

.ft-ex-link-wrap {
    margin-right: auto;
    margin-left: 0px;
}
.ft-menu {
    text-align: right;
}

.ft-title {
    text-align: right;
}