/* @import url('https://fonts.googleapis.com/css?family=Mada:400,500&display=swap'); */
$dir: 'rtl';
$arabic-font-family: 'Mada', sans-serif;

html, body{
    font-family: $arabic-font-family;
    direction: rtl;
}

@import 'page/home';