.personal, .professional, .languages, .languages-second{
  & > .top-padding-xmd{
    padding-top: 50px !important;
  }
  & > .bottom-padding-md{
    padding-bottom: 30px !important;
  }
  .row{
    &.top-padding-xmd{
      padding-top: 20px;
    }
  }
  .form-group{
    margin-bottom: 20px;
  }
}