iframe{
    @include tablet-sm{
        height: 400px;
    }
}
.margintop{
    @include tablet-lg{
        margin-top: 24px;
    }
}
.inner-box-content{
    width: 30%;
    @include tablet-lg{
      width: 100%;
  }
}

    // .phone{
    //     width: 30%;
    // }
    // @include tablet-sm{
    //     width: 100%;
    // }