.card.slick-slide{
  margin: 0 20px;
  width: 440px ;
  @include tablet-sm{
    margin: 0 10px;
    width: 300px;
  }
  img{
    width: 100%;
  }
}
@include tablet-sm{
  .bottom-margin-lg-mobile{
    margin-bottom: 92px;
  }
}


#news-card-slider{
.slide-arrow.prev-arrow, .slide-arrow.next-arrow{
  position: absolute !important;
  z-index: 1;
  border: 1px solid $danger;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  opacity: 1;
  visibility: visible;
  transition: all .3s ease-in-out;
  &:hover{
    background-color: $danger;
    .icon-left-arrow{
      background-image: url(../images/list-arrow-left-white.svg);
    }
    .icon-right-red-arrow{
      background-image: url(../images/list-arrow-left-white.svg);
      transform: rotate(180deg);
    }
  }
}
.slide-arrow.prev-arrow{
  top: 100%;
  left: 50%;
  margin-top: 37px;
  margin-left: -93px;
  @include desktop-sm{
    margin-top: 40px;
  }
  @include tablet-sm{
    margin-top: 20px;
    margin-left: -55px;
  }
  &:after{
    position: absolute;
    content: "";
    height: 75px;
    width: 1px;
    background-color: $gray-chateau;
    right: -50px;
    @include desktop-sm{
      height: 80px;
    }
    @include tablet-sm{
      height: 65px;
      right: -22px;
    }
  }
}
.slide-arrow.next-arrow{
  bottom: 0;
  right: 50%;
  margin-bottom: -82px;
  margin-right: -93px;
  @include desktop-sm{
    margin-bottom: -85px;
  }
  @include tablet-sm{
    margin-bottom: -65px;
    margin-right: -75px;
  }
  }
}
.margin-top{
  margin-top: 10px;
}

#at_glance{
  .col-md-12 {
    &.bottom-padding-xmd{
      padding-bottom: 30px;
    }
  }
}

.news-card-2-items{
  .col-md-6{
    @include tablet-sm{
      &:nth-child(1n + 2){
        margin-top: 30px;
      }
    }
  }
}

section.glance{
  // display: none;
  .container{
    display: flex;
    justify-content: space-between;
    @include tablet-sm{
      flex-wrap: wrap;
      justify-content: center;
    }
    .title-left{
      max-width: 150px;
      text-align: left;
      h3.title{
        font-size: 30px;
        color: $dune !important;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        line-height: 36px;
        margin-top: 0px;
        @include tablet-sm{
          font-size: 22px;
          line-height: 26px;
        }
      }
    }
  }
}

section.our-business{
  .column-3.row{
    margin-left: -10px;
    margin-right: -10px;
    .col-md-4{
      padding-left: 10px;
      padding-right: 10px;
      &:nth-child(1n + 4){
        margin-top: 20px;
      }
    }
  }
}

section.our-vision{
  h3.sub-title{
    margin-bottom: -10px;
    @include tablet-sm{
      margin-bottom: 0;
    }
  }
}

section.our-values{
  .data-main-wrap{
    margin-bottom: -15px;
  }
}

section.latest-news{
  #news-card-slider{
    margin-top: 30px;
    @include desktop-sm{
      margin-bottom: 30px;
    }
    @include tablet-sm{
      margin-top: 26px;
      margin-bottom: 55px;
    }
    .card p{
      max-width: 90%;
    }
  }
}

.subtitle-content, .desc{
  p:last-child{
    margin-bottom: 0px;
  }
}

p:empty {
  display: none;
}

@include tablet-sm{
  section.our-business {
    .column-3.row .col-md-4{
      margin-top: 0px;
      & + .col-md-4{
        margin-top: 15px;
      }
    }
  }
}