.title-point-listing{
  display: flex;
  align-items: flex-start;
  margin: 0 -15px;
  @include tablet-sm{
    flex-flow: column;
  }
  .sub-title{
    max-width: 369px;
  }
  .table{
    margin-top: -15px;
    @include tablet-sm{
      margin-top: 0;
    }
  }
}

.alm-reveal{
  .col-md-4{
    &:nth-child(1n + 4){
      margin-top: 30px;
    }
    @include tablet-sm{
      width: 50%;
      &:nth-child(1n + 3){
        margin-top: 30px;
      }
    }
    @include mobile-lg{
      width: 100%;
      &:nth-child(1n + 2){
        margin-top: 30px;
      }
    }
  }
}
.expand-card .nh-btn-danger:hover, .expand-card .nh-btn-danger:focus{
  background-color: #C10230!important;
  color: #fff;
}
.expand-card.nh-btn-danger:hover, .expand-card.nh-btn-danger:focus{
  background-color: #C10230!important;
  color: #fff;
}

.expand-card .nh-btn-danger:hover .icon-down-arrow, .expand-card .nh-btn-danger:focus .icon-down-arrow{
  background-image: url(../images/ico-chevron-down.svg) !important;
}

.expand-card.show .nh-btn-danger:hover .icon-down-arrow, .expand-card.show .nh-btn-danger:focus .icon-down-arrow{
  background-image: url(../images/ico-chevron-up.svg) !important;
}
.expand-card{
  .desc{
    &.ldr-scroll{
      pointer-events: none;
    }
  } 
  &.show{
    .desc{
      &.ldr-scroll{
        pointer-events: auto;
      }
    } 
  }
} 


#about-company{
  .container{
    display: flex;
    h3, p{
      text-align: justify;
    }
    @include tablet-sm{
      flex-flow: column;
    }
    .title-logo{
      height: 272px;
      min-height: 272px;
      min-width: 272px;
      background: $white;
      box-shadow: 0 0 20px 0 rgba(0,0,0,0.11);
      margin: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include tablet-sm{
        height: 150px;
        width: 150px;
        min-height: 150px;
        min-width: 150px;
      }
      img{
        max-width: 70%;
        max-height: 70%;
      }
    }
    .subtitle-content{
      padding-left: 100px;
      max-width: 880px;
      margin-left: auto;
      text-align: left;
      @include tablet-lg{
        padding-left: 40px;
      }
      @include tablet-sm{
        padding-left: 0;
        padding-top: 25px;
      }
      h3.sub-title{
        margin-top: 0px;
      }
      .desc {
        p{
          margin: 0px;
          & + p{
            margin-top: 15px;
          }
        }
        & + .btn{
          margin-top: 30px;
        }
      }
    }
  }
  &.sticky{
    .title-logo{
      z-index: 9999;
      position: fixed;
      top: 100px;
      margin: 0px;
      margin-left: -40px;
      height: 182px;
      width: 182px;
      img{
        max-width: 70%;
        max-height: 70%;
      }
      @include tablet-lg{
        top: 90px;
      }
      @include tablet-sm{
        top: 90px;
        left: 0;
        margin-left: 0;
        height: 80px;
        width: 80px;
        min-height: 80px;
        min-width: 80px;
        z-index: 9999;
      }
    }
    .subtitle-content{
      @media(min-width: 768px){
        margin-left: 182px;
      }
      @include tablet-sm{
        margin-top: 150px;
      }
    }
  }
} 