.search-form-wrap {
    background: $gray;

    .form-group {
        width: 63%;
        margin: 0 auto;
        @include desktop-sm{
            width: 100%;
        }

        .input-group {
            border: solid black 1px;
            height: 60px;

            .btn-outline-secondary {
                width: 10px;
                &:hover {
                    border-color: transparent;
                }
            }

            .input-group-append {
                // .icon-search1 {
                //     background-image: url(../images/search1.svg);
                //     width: 42px;
                //     height: 28px;
                //     margin-top: -10px;
                //     left: 0px;
                //     display: block;
                //     background-repeat: no-repeat;
                // }
            }
        }

        .form-control {
            font-family: $avenirbook;
            font-size: 20px;
            color: $dune;
            background: transparent;
            border: solid 0px;
            @include desktop-sm{
                font-size: 15px;
            }
        }

        .nh-form-control {
            text-transform: none;
            font-size: 20px;

        }

        button {
            background: transparent;
        }
    }

}

.search-result-wrap {
    // border-bottom: 1px solid $gray-chateau;
    h2, p ,h4 , a{
        
    font-family: $Avenir-Medium;
    }
    .title {
        h2 {
            color: #C10230;
            padding-bottom: 30px;
            font-weight: normal;
            font-size: 24px;
            line-height: 28px;
            text-align: left;
            @include desktop-sm{
                font-size: 20px;
            }
        }
    }
    &:after{
        content: "";
        margin-bottom: 20px;
    }
}
