.banner{
  .slider{
    .slide{
      height: 50vw;
      max-height: 780px;
      background-size: cover;
      background-repeat: no-repeat;
      .caption{
        max-width: 500px;
        position: absolute;
        top: 50%;
        height: 300px;
        margin-top: -150px;
        h2{
          font-size: 70px;
          color: white;
          letter-spacing: 0;
          font-weight: $bold;
          border-bottom: 5px solid $primary;
          padding-bottom: 15px;
        }
        .counter{
          opacity: 0.5;
          font-family: $Lato;
          font-size: 16px;
          color: $primary;
          letter-spacing: 0;
          display: block;
          margin: 15px 0px;
        }
        .play{
          text-decoration: none;
          text-transform: uppercase;
          font-family: $Lato;
          font-size: 20px;
          font-weight: $bold;
          color: #FFFFFF;
          letter-spacing: 3px;
          display: flex;
          align-items: center;
          .icon{
            font-size: 60px;
            margin-left: 35px;
          }
        }
      }
    }
  }
  .slick-dots{
    font-size: 12px;
    position: absolute;
    bottom: 50px;
    right: 100px;
    z-index: 1;
    li{
      float: left;
      & + li{
        margin-left: 30px;
      }
      button{
        border: 0px;
        text-align: left;
        border-top: 3px solid rgba($white, 0.3);
        background: none;
        width: 80px;
        color: rgba($white, 0.3);
        padding: 6px 0px;
        cursor: pointer;
        display: block;
        &:focus{
          outline: 0;
        }
      }
      &.slick-active{
        button{
          border-top-color: $primary;
          color: $primary;
        }
      }
    }
  }
}