header {
    .navbar {
        display: flex;
        padding: 0px 0px 10px;
        height: 110px;

        .nav-left {
            margin-top: 15px;
            .brand {
                display: inline-block;
                img {
                    max-width: 274px;
                }
            }
        }

        .nav-right {
            text-transform: uppercase;
            letter-spacing: 0.5px;
            ul {
                margin: 0px;
                padding: 0px;
                display: flex;
                justify-content: flex-end;
                font-family: $Lato;
                li{
                    a{
                        text-decoration: none;
                    }
                }
            }

            .site-navs {
                font-size: 12px;

                li {
                    &+li {
                        margin-left: 30px;
                    }

                    a {
                        color: $gray;

                        &:hover,
                        &:focus {
                            color: $black;
                        }
                    }
                    &.active{
                        a{
                            color: $black;
                        }
                    }
                }
            }

            .site-menu {
                font-size: 14px;
                margin-top: 15px;

                li {
                    &+li {
                        margin-left: 25px;
                    }

                    a {
                        color: $dark;

                        &:hover,
                        &:focus {
                            color: $primary;
                        }
                    }
                    &.active{
                        a{
                            color: $primary;
                        }
                    }
                }
            }
        }
    }
}
