section{
  background-color: $white;
  overflow: hidden;
  &[data-bg]{
    // background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &:after{
      content: "";
      display: block;
      position: absolute;
      top: 0px; bottom: 0px;
      left: 0px; right: 0px;
      background-color: rgba($black, 0.8);
    }
    & > .container{
      position: relative;
      z-index: 1;
    }
  }
  color: $black;
  .title{
    h2, p{
      color: $black;
    }
  }
  &.fill{
    background-color: $black;
    color: $white;
    .title{
      h2, p{
        color: $white;
      }
    }
  }
}