.no-margin{margin: 0;}

//Top Margins
// .top-margin-xs{
//   margin-top: 30px;
//   @media(max-width: 991px){
//     margin-top: 15px;
//   }
// }
// .top-margin-sm{
//   margin-top: 40px;
//   @media(max-width: 991px){
//     margin-top: 30px;
//   }
//   @media(max-width: 736px){
//     margin-top: 20px;
//   }
// }
// .top-margin-md{
//   margin-top: 60px;
//   @media(max-width: 1200px){
//     margin-top: 40px;
//   }
//   @media(max-width: 736px){
//     margin-top: 30px;
//   }
// }
.top-margin-lg{
  margin-top: 120px;
  @media(max-width: 1200px){
    margin-top: 60px;
  }
  @media(max-width: 736px){
    margin-top: 30px;
  }
}

//Bottom Margins
// .bottom-margin-xs{
//   margin-bottom: 30px;
//   @media(max-width: 991px){
//     margin-bottom: 15px;
//   }
// }
// .bottom-margin-sm{
//   margin-bottom: 40px;
//   @media(max-width: 991px){
//     margin-bottom: 30px;
//   }
//   @media(max-width: 736px){
//     margin-bottom: 20px;
//   }
// }
// .bottom-margin-md{
//   margin-bottom: 60px;
//   @media(max-width: 1200px){
//     margin-bottom: 40px;
//   }
//   @media(max-width: 736px){
//     margin-bottom: 30px;
//   }
// }
.bottom-margin-lg{
  margin-bottom: 120px;
  @media(max-width: 1200px){
    margin-bottom: 60px;
  }
  @media(max-width: 736px){
    margin-bottom: 30px;
  }
}

//Top Paddings
// .top-padding-xs{
//     padding-top: 30px;
//     @media(max-width: 991px){
//         padding-top: 15px;
//     }
// }
// .top-padding-sm{
//     padding-top: 40px;
//     @media(max-width: 991px){
//         padding-top: 30px;
//     }
//     @media(max-width: 736px){
//         padding-top: 20px;
//     }
// }
.top-padding-md{
    padding-top: 80px;
    @media(max-width: 1200px){
        padding-top: 40px;
    }
    @media(max-width: 736px){
        padding-top: 30px;
    }
}
.top-padding-lg{
  padding-top: 120px;
  @media(max-width: 1200px){
    padding-top: 60px;
  }
  @media(max-width: 736px){
    padding-top: 30px;
  }
}

//Bottom Paddings
// .bottom-padding-xs{
//   padding-bottom: 30px;
//   @media(max-width: 991px){
//       padding-bottom: 15px;
//   }
// }
// .bottom-padding-sm{
//   padding-bottom: 40px;
//   @media(max-width: 991px){
//       padding-bottom: 30px;
//   }
//   @media(max-width: 736px){
//       padding-bottom: 20px;
//   }
// }
.bottom-padding-md{
  padding-bottom: 80px;
  @media(max-width: 1200px){
      padding-bottom: 40px;
  }
  @media(max-width: 736px){
      padding-bottom: 30px;
  }
}
.bottom-padding-lg{
  padding-bottom: 120px;
  @media(max-width: 1200px){
    padding-bottom: 60px;
  }
  @media(max-width: 736px){
    padding-bottom: 30px;
  }
}
