.blockquote{
  max-width: 946px;
  p{
    font-family: $PTSans;
    line-height: 60px;
    font-size: 50px;
    color: $white;
    letter-spacing: 0;
    a{
      color: $white;
      border-bottom: 3px solid $primary;
      text-decoration: none;
      &:hover, &:focus{
        color: $primary;
      }
    }
    position: relative;
    &:before, &:after{
      line-height: 50px;
      font-family: "icomoon";
      display: inline-block;
      position: relative;
      opacity: 0.1;
      height: 50px;
      width: 50px;
    }
    &:before{
      content: "\e907";
      position: absolute;
      top: -65px;
    }
    &:after{
      content: "\e906";
      position: absolute;
      bottom: -50px;
      margin-left: -60px;
    }
  }
}