.btn{
  border: 0px;
  border-radius: 0px;
  box-shadow: none !important;
  border-bottom: 3px solid $primary;
  background: none;
  padding: 0px;
  padding-bottom: 5px;
  line-height: 20px;
  height: 32px;
  text-transform: uppercase;
  font-family: $Lato;
  font-size: 16px;
  letter-spacing: 3px;
  cursor: pointer;
  &.btn-primary{
    color: $primary;
    &:hover, &:focus, &:active{
      background: none;
      border-color: $white;
      color: $white;
    }
  }
  &.btn-default{
    color: $primary;
    border-bottom-color: $dark;
    &:hover, &:focus, &:active{
      background: none;
      border-color: $primary;
      color: $primary;
    }
  }
  &.btn-white{
    color: $white;
    border-bottom-color: $white;
    &:hover, &:focus, &:active{
      background: none;
      border-color: $primary;
      color: $primary;
    }
  }
  &:hover, &:focus, &:active{
    outline: 0;
    box-shadow: none !important;
    background: none !important;
  }
}