.counter{
  .number{
    font-family: $Lato;
    font-weight: $bold;
    font-size: 70px;
    color: $white;
    letter-spacing: 0;
    line-height: 80px;
  }
  h4{
    font-family: $PTSans;
    font-size: 18px;
    color: $white;
    letter-spacing: 0;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 5px;
  }
}