.flip-box{
  width: 390px;
  height: 390px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.11);
  .logo{
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    @include transition(all, 0.3s, ease-in-out);
    transform: rotateY(0deg);
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .caption{
    @include transition(all, 0.3s, ease-in-out);
    transform: rotateY(60deg);
    color: $white;
    background: $black;
    position: absolute;
    top: 0px; right: 0px;
    bottom: 0px; left: 0px;
    opacity: 0;
    // visibility: hidden;
    z-index: 1;
    padding: 50px;
    p{
      font-family: $PTSans;
      font-size: 18px;
      color: $white;
      letter-spacing: 0;
      line-height: 26px;
    }
    .more{
      position: absolute;
      background: $primary;
      height: 50px;
      width: 50px;
      color: $white;
      font-size: 26px;
      text-align: center;
      line-height: 50px;
      text-decoration: none;
      right: 0px;
      bottom: 0px;
    }
  }
  &:hover{
    .logo{
      transform: rotateY(90deg);
    }
    .caption{
      transform: rotateY(0deg);
      // visibility: visible;
      opacity: 1;
    }
  }
}