.nav-menu{
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: $PTSans;
  font-size: 20px;
  letter-spacing: 0;
  li{
    a{
      padding: 15px 0px;
      border-top: 1px solid $border;
      border-bottom: 3px solid transparent;
      text-decoration: none;
      padding: 10px 0px;
      display: inline-block;
      color: $black;
      width: 100%;
    }
    &.active{
      font-weight: $bold;
    }
    &:last-child{
      a{
        border-bottom: 1px solid $border;
      }
    }
    &.active, &:hover{
      a{
        color: $primary;
        border-bottom: 3px solid $primary;
      }
    }
  }
}