.news{
  .card{
    border-radius: 0px;
    border: 0px;
    .card-img-top{
      border-radius: 0px;
    }
    .card-body{
      border-top: 6px solid $primary;
      padding: 0px 0px;
      .card-date, .card-text{
        margin-top: 30px;
      }
      .card-date{
        font-family: $Lato;
        font-size: 14px;
        color: $primary;
        letter-spacing: 2px;
      }
      .card-text{
        margin-bottom: 30px;
        font-family: $PTSans;
        font-size: 18px;
        color: $primary;
        letter-spacing: 0;
        line-height: 26px;
        color: $black;
      }
    }
  }
}