h2.title, h3.sub-title{text-align: left;}
h1.sub-title{
  font-size: 50px;
  letter-spacing: 0.04em;
  text-align: center;
  color: $danger;
  font-family: $avenirbook;
  margin-top: -10px;
  text-transform: uppercase;
  @include tablet-sm{
    // text-align: left;
    font-size: 44px;
  }
  & + h3.sub-title{
      padding-top: 65px;
      margin-top: -10px;
      @media(max-width: 1200px){
        padding-top: 30px;
      }
  }
}
h2.title{
  font-size: 50px;
  letter-spacing: 0.04em;
  text-align: center;
  color: $danger;
  font-family: $avenirbook;
  margin-top: -10px;
  text-transform: uppercase;
  @include tablet-sm{
    // text-align: left;
    font-size: 44px;
  }
  & + h3.sub-title{
      padding-top: 65px;
      margin-top: -10px;
      @media(max-width: 1200px){
        padding-top: 30px;
      }
  }
}
h3.sub-title{
  font-weight: normal;
  font-size: 25px;
  line-height: 32px;
  color: $abbey;
  & + h3.sub-title{
    margin-top: 35px;
    @media(max-width: 736px){
      margin-top: 30px;
    }
  }
  & + .desc{
    margin-top: 30px;
  }
}
