.v-tab-data{
  position: relative;
  height: 100%;
  overflow: hidden;
  padding-left: 25px;
  margin-left: -25px;
  .info-wrap{
    display: flex;
    position: absolute;
    transition: 0.5s all ease-in-out;
    top: 0px;
    width: 100%;
    .thumb{
      max-width: 390px;
      img{
        max-width: 100%;
      }
    }
    .description{
      background-color: $black;
      max-width: 400px;
      padding: 50px;
      color: $white;
      p{
        font-family: $PTSans;
        font-size: 30px;
        color: $white;
        letter-spacing: 0;
        line-height: 38px;
        a{
          color: $white;
          text-decoration-color: $primary;
          text-decoration-line: underline;
        }
      }
    }
    //display: none;
    // visibility: hidden;
    // opacity: 0;
    .thumb, .description{
      transition: 0.5s all ease-in-out;
    }
    .thumb{
      transform: translateY(-600px);
    }
    .description{
      transform: translateY(600px);
    }
    &.active{
      display: flex;
      // visibility: visible;
      // opacity: 1;
      &:after{
        opacity: 1;
        transform: translateX(0px);
      }
      .thumb, .description{
        transform: translateY(0px);
      }
    }
    &:after {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(0, 0, 0, 0);
      border-right-color: #000000;
      border-width: 20px;
      margin-top: -20px;
      opacity: 0;
      transform: translateX(30px);
      transition: 0.5s all ease-in-out;
    }
    &:nth-child(1){
      &:after{
        margin-top: -140px;
      }
    }
    &:nth-child(2){
      &:after{
        margin-top: -85px;
      }
    }
    &:nth-child(3){
      &:after{
        margin-top: -30px;
      }
    }
    &:nth-child(4){
      &:after{
        margin-top: 25px;
      }
    }
    &:nth-child(5){
      &:after{
        margin-top: 75px;
      }
    }
    &:nth-child(6){
      &:after{
        margin-top: 130px;
      }
    }
    &:nth-child(7){
      &:after{
        margin-top: 180px;
      }
    }
  }
}