// Color Variables
$primary        : #988a5b;
$default        : #00a0dc;
$white          : #ffffff;
$black          : #000000;
$mineShaft      : #202020;
$gray           : #F3F4F5;
$red            : #F00000;
$lightred       : #EA1812;
$dune           : #2d2a26;
$abbey          : #54565A;
$danger         : #C10230;
$gray-chateau   : rgb(8, 8, 8);
$gallery        : #EAEAEA;
// $black       : #2D2A26;
$mineShaft      : #202020;
$gray           : #F3F4F5;
$red            : #C10230;
$lightred       : #EA1812;
$alto           : #D8D8D8;
$abbey_1        : #54565a;
$gray-chateau   : #a7a8a9;

$light-grey     : #EAEAEA;
$grey-footer    : #F3F4F6;
$grey           : #CFCFCF;