// Common Styles
a, .btn, a:focus, .btn:focus{outline: 0; }
html, body{font-size: 100%; font-family: $Poppins; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;background-color: $white;
  font-family: $avenirbook;}
p, ul, ol{
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: $dune;
  margin-bottom: 30px;
   & + p{margin-top: -7px;}
   @include tablet-sm{
     margin-bottom: 25px;
     font-size: 16px;
    }
  }
table{}
a, button{ @include transition(all, .2s, ease-in-out);}
a, a:hover, a:focus{color: $mineShaft;}
b, label{}
figure{margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6{ margin: 0; padding: 0; }
p, ul, ol{ text-align: left;}
ul{margin: 0; padding: 0; list-style: none;}
textarea{resize: vertical}
.slick-slide {
    outline: none !important;
  &:focus, a {
    outline: none !important;
  }
}
.container-common{
  width: 1200px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 8%;
  padding-right: 8%;
  margin-right: auto;
  margin-left: auto;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container{
  &.container-sm{
    width: 920px;
    @media(max-width: 736px){
      width: 100%;
    }
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1210px;
  }
}
.grey-bg,.gray-bg{
  background-color: $gallery;
}
.grey-bg-75,.gray-bg-75{
  position: relative;
  &:after{
    content: "";
    position: absolute;
    background-color: $gallery;
    height: 620px;
    width: 100%;
    top: 0;
    @include tablet-lg{
      height: 500px;
    }
    @include tablet-sm{
      height: 525px;
    }
  }
}
.danger-bg{
  background-color: $danger;
}
.primary-bg{
  background-color: $dune;
}
.grey-bg{
  background-color: $grey;
}
.light-grey-bg{
  background-color: $light-grey;
}
.grey-footer{
  background-color: $grey-footer;
}
.center{
  text-align: center !important;
}
.danger{
  color: $danger !important;
}
.white{
  color: $white !important;
}
.column-3{
  &.row{
    margin-right: -20px;
    margin-left: -20px;
    @include desktop-sm{
      margin-right: -15px;
      margin-left: -15px;
    }
  }
  .col-md-4{
    padding-left: 20px;
    padding-right: 20px;
    @include desktop-sm{
      padding-left: 15px;
      padding-right: 15px;
    }
    @include tablet-lg{
      flex: 0 0 50%;
      max-width: 50%;
    }
    @include tablet-sm{
      flex: 0 0 100%;
      max-width: 100%;
    }
    &:nth-child(1n + 4){
      margin-top: 53px;
     
    }
    @include tablet-lg{
      &:nth-child(1n + 3){
        margin-top: 15px;
       
      }
    }
    @include tablet-sm{
      &:nth-child(1n + 2){
        margin-top: 30px;
      }
    }
  }
}
.plain-content{
  max-width: 920px;
  &.center{
    margin: auto;
  }
  p{
    margin-bottom: 27px;
    &:last-child{
      margin-bottom: 0px;
    }
  }
  & > p{
    &:last-child{
      margin-bottom: 0px;
    }
  }
}
.boxed-content{
  width: 1000px;
  margin: auto;
  @include desktop-sm{
    width: 100%;
  }
}
.boxed-content-md{
  width: 920px;
  margin: auto;
  @include desktop-sm{
    width: 100%;
  }
}