.alm-reveal {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
  margin-left: -15px

}
.alm-reveal {
	margin-top: 0
}
.alm-btn-wrap {
	text-align: center;
	padding-top: 0;
}
.alm-load-more-btn.done {
	display: none
}
.card.news-card .date-section {
	margin-top: 15px;
	text-transform: uppercase
}
.values ul li {
	text-align: left;
	height: 70px;
	width: 100%
}
.contact-us-wrapper ul li {
	color: #fff
}
span.wpcf7-list-item * {
	display: flex;
	flex-direction: row-reverse;
	align-items: center
}
.wpcf7-form .form-group .select2-selection__rendered::after {
	margin-left: 10px;
	content: '*';
	position: absolute;
	color: #c10230
}
.select2-container--above .select2-selection__rendered:after,.select2-container--below .select2-selection__rendered:after {
    display: none !important;
}
[type=radio]:checked,
[type=radio]:not(:checked) {
	position: inherit;
	width: 32px;
	height: 32px;
	border: 1px solid #ddd;
	border-radius: 100%;
	background: #fff;
	margin-right: 15px
}
// .radio-button {
// 	font-size: 16px;
// 	width: 169px
// }
span.wpcf7-list-item-label {
	line-height: 1.5;
	color: #212529;
  font-size: 16px
}
  @media(max-width: 320px){
    span.wpcf7-list-item-label{
      font-size : 14px;
    }
  }
span#radio-group {
	display: flex;
	align-items: center;
	justify-content: flex-start
}
@media (max-width:991px) {
	span.wpcf7-list-item * {
		// display: initial;
		margin-right: 0
	}
}
.page-id-442 .inner-banner {
  @include tablet-sm{
    background-position: -325px;
  }
  @media(max-width: 320px){
    background-position: -310px;
  }
}
.postid-69 .inner-banner {
  @include tablet-lg{
    background-position: center top;
  }
  @include mobile-sm{
    background-position: -200px;
  }
  @media(max-width: 320px){
    background-position: -250px;
  }
}
.page-id-442 .grey-bg {
	background-color: #f3f4f5
}
.morecontent {
	display: none
}
.image-content-box h6 + .desc-content {
	padding-top: 38px;
	max-height: 310px;
	overflow: auto;
}
// .show-more-boxes{

// }
.morelink:focus {
	color: #fff;
	// background-color: #fff
}
.text-danger {
	color: #c10230!important
}
// .form-group .placeholder {
// 	opacity: 1
// }
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: #c10230;
	background-color: #c10230;
	filter: "alpha(opacity=75)";
	-ms-filter: "alpha(opacity=75)"
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	position: relative;
	width: 8px
}
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar {
	background-color: #c10230;
	background-color: #c10230;
	filter: "alpha(opacity=90)";
	-ms-filter: "alpha(opacity=90)"
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
	background-color: #c10230;
	background-color: #c10230;
	filter: "alpha(opacity=85)";
	-ms-filter: "alpha(opacity=85)"
}
.mCSB_scrollTools .mCSB_draggerRail {
	background-color: transparent;
	filter: "alpha(opacity=40)";
	-ms-filter: "alpha(opacity=40)"
}
.expand-card.show .card-body .desc.mCustomScrollbar {
	height: 220px;
	overflow: auto;
	margin-bottom: 0px
}
.col-md-6.expand-card.show .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 6px;
	display: block
}
.col-md-6.expand-card .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	display: none
}
.col-md-6.expand-card .mCustomScrollBox:focus>.mCSB_scrollTools,
.col-md-6.expand-card .mCustomScrollBox:hover>.mCSB_scrollTools,
.col-md-6.expand-card .mCustomScrollbar>.mCustomScrollBox>.mCSB_scrollTools.mCSB_scrollTools_onDrag {
	opacity: .75
}
.gnder span {
	color: #c10230
}
 
