.icon-right-arrow, .icon-left-arrow{
  background-size: auto 20px;
}
.icon-down-arrow, .icon-up-arrow{
  background-size: 20px auto;
}

.icon-right-arrow{
  background-image: url(../images/list-arrow.svg);
  width: 30px;
  height: 30px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
}
.icon-left-arrow{
  background-image: url(../images/list-arrow-left.svg);
  width: 30px;
  height: 30px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
}
.icon-right-red-arrow{
  // background-image: url(../images/list-arrow-red.svg);
  background-image: url(../images/list-arrow-left.svg);
  transform: rotate(180deg);
  width: 30px;
  height: 30px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
}
.icon-up-arrow{
  background-image: url(../images/ico-chevron-up.svg);
  width: 30px;
  height: 30px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
}

.icon-down-arrow{
  background-image: url(../images/ico-chevron-down.svg);
  width: 30px;
  height: 30px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
}

.icon-calendar{
  background-image: url(../images/calendar.svg);
  width: 24px;
  height: 20px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
}
.icon-search{
  background-image: url(../images/search.svg);
  width: 22px;
  height: 23px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
}
.icon-search1{
  margin: 0 auto;
  background-image: url(../images/search1.svg);
  width: 42px;
  height: 43px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
}
.icon-mail{
  background-image: url(../images/mail.svg);
  width: 22px;
  height: 23px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
}
.icon-phone{
  background-image: url(../images/phone.svg);
  width: 22px;
  height: 23px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
}
.icon-black-left-arrow{
  background-image: url(../images/left-arrow.svg);
  width: 22px;
  height: 23px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
}
.icon-black-right-arrow{
  background-image: url(../images/right-arrow.svg);
  width: 12px;
  height: 23px;
  background-position: center;
  display: block;
  background-repeat: no-repeat;
}

