//Typography Rules Go Here
//@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Cairo&display=swap');

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/Avenir-Medium.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/Avenir-Medium.woff') format('woff'), 
    url('../fonts/Avenir-Medium.ttf')  format('truetype'), 
    url('../fonts/Avenir-Medium.svg#Avenir-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/Avenir-Heavy.eot');
    src: url('../fonts/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Avenir-Heavy.woff2') format('woff2'),
        url('../fonts/Avenir-Heavy.woff') format('woff'),
        url('../fonts/Avenir-Heavy.ttf') format('truetype'),
        url('../fonts/Avenir-Heavy.svg#Avenir-Heavy') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('../fonts/Avenir-Book.eot?#iefix') format('embedded-opentype'),  
    url('../fonts/Avenir-Book.woff') format('woff'), 
    url('../fonts/Avenir-Book.ttf')  format('truetype'), 
    url('../fonts/Avenir-Book.svg#Avenir-Book') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?fea68k');
    src:  url('../fonts/icomoon.eot?fea68k#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.woff2?fea68k') format('woff2'),
      url('../fonts/icomoon.ttf?fea68k') format('truetype'),
      url('../fonts/icomoon.woff?fea68k') format('woff'),
      url('../fonts/icomoon.svg?fea68k#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-Phone:before {
    content: "\e904";
  }
  .icon-Facebook:before {
    content: "\e902";
  }
  .icon-instagram:before {
    content: "\e905";
  }
  .icon-Twitter:before {
    content: "\e907";
  }
  .icon-Youtube:before {
    content: "\e908";
  }
  .icon-download_1:before {
    content: "\e900";
  }
  .icon-download-1:before {
    content: "\e901";
  }
  
  

//Fonts-Families
$alternate-font: Arial, sans-serif;
$Poppins: 'Avenir', $alternate-font;
// Haas Grot Disp
// $haasGrot95: 'Haas Grot Disp 95', $alternate-font;
// $haasGrot55Roman: 'Haas Grot Disp 55 Roman', $alternate-font;
// $haasGrot45: 'Haas Grot Disp 45', $alternate-font;
// $haasGrot35: 'Haas Grot Disp 35', $alternate-font;
// $haasGrot75: 'Haas Grot Disp 75', $alternate-font;
// $Avenir: 'Haas Grot Disp 65', $alternate-font;
// $haasGrot25XThin: 'Haas Grot Disp 25 XThin', $alternate-font;
// $haasGrot15XXThin: 'Haas Grot Disp 15 XXThin', $alternate-font;
// $haasGrot25XThin: 'Haas Grot Disp 25 XThin', $alternate-font;


// Avenir
$Avenir-Medium:'Avenir-Medium', $alternate-font;
$Avenir: 'Avenir', $alternate-font;
$avenirbook:'Avenir-Book', $alternate-font;

//Font-Weight
$Thin 			: 100;
$Etralight 	: 200;
$Light			: 300;
$Regular		: 400;
$Medium			: 500;
$Semibold		: 600;
$Bold			  : 700;
$ExtraBold	: 800;
$Black			: 900;